[2019-06-23 12:38] aniciom opened #19 "Hide reactions in messages"
One question, is there any way to hide the reactions in the list of messages displayed in a channel?

Thanks

[2019-06-23 14:12] tschellenbach commented on #19
Makes sense to me. Jaap what do you think?

On Sun, Jun 23, 2019, 06:38 Anicius <notifications@github.com> wrote:

[2019-07-04 09:25] jaapbakker88 commented on #19
Yeah makes sense to me as well. Would you just like to be able to deactivate reactions completely @aniciom?

[2019-07-04 12:05] aniciom commented on #19
Yah would be nice, anyways it seems they don't show if i disable them from the dashboard, anyways would be a nice a feature as well as some kind of customizable internationalization for some parts of the components, example: Is Typing function ( user/s is/are typing), dates below the message, thanks for the effort and keep going the good work

[2019-07-04 13:19] jaapbakker88 commented on #19
@aniciom so that's a different thing right? I think the way to go for reactions is you disable them on the dashboard and then they won't show. Let me know if that's working. Could you open another issue for the internationalization and I will look for the best way to implement that.

[2019-07-04 15:05] aniciom commented on #19
Sure, thanks

[2019-07-04 15:53] #19 closed

[2019-07-05 03:16] aniciom opened #20 "i18n feature"
Hello i was wondering if its possible in the next releases, add some kind of customizations for locales in the components

Example #1: Typing text
Example #2: Online state text
Example #3: Dates (Like today, yesterday, months, etc)
Example #4: Message input placeholder
Example #5: Message deleted (I know its coming from backend)

And other places where it might be possible to add some kind of loca

[2019-07-16 08:45] jaapbakker88 commented on #20
Thanks for your request, i'll look into it for a future release.

[2019-07-18 08:19] codekiln opened #29 "How to customize styles?"
I've seen the [section in the readme that mentions how to customize styles](https://github.com/GetStream/stream-chat-react#customizing-styles). I don't quite understand - if we want to customize the styles, should we should be no longer using the `stream-chat-react` npm module? How do we specify to stream react chat that we want to use our styles instead of those defaults?

It appears that styles

[2019-07-18 08:48] vishalnarkhede commented on #29
Hey @codekiln

There are two ways to customize the styles:

1. You can override the css classes (of stream-chat-react) in your project, and they will take precedence over the default classes. You can check this codepen example where I have changed the background color of chat screen and font-weight of text: https://codepen.io/vishtree/pen/rXNyep

2. You can clone the repository on your end and man

[2019-07-18 09:08] codekiln commented on #29
Thanks, this helps. I'll use method one, so that resolves it for me.

I'm curious though about number two - if we clone your repository and commit our scss changes into our project's repository, wouldn't that make it difficult to get updates to the components?

[2019-07-18 11:04] #29 closed

[2019-07-26 18:34] codekiln opened #36 "Allow Moderators to Edit and Delete Messages Without Being Admin"
Note: I've opened a [StackOverflow question GetstreamIO Chat Moderation](https://stackoverflow.com/questions/57210019/getstreamio-chat-moderation) about this, though the post here goes in to more detail.

I see that in the Getstream.IO docs under [Default Permission Policies](https://getstream.io/chat/docs/#channel_permission_policies) a moderator is able to update and delete messages. I can also

[2019-07-26 20:26] codekiln opened #37 "Mute and Flag actions do not appear to do anything"
As far as I can tell in version `0.6.15`, the `mute` and `flag` buttons do not do anything:
![image](https://user-images.githubusercontent.com/140930/61979183-2c66e300-afc1-11e9-8659-2732419e5b86.png)

I'm using a "livestream" type channel roughly equivalent to [the livestream example Getstream.IO has put on codepen](https://getstream.io/chat/#chat-livestream-example):

[code]

When I log in as a

[2019-07-26 23:13] cbedoy commented on #20
@aniciom that could be fixed if they exposed strings.xml to can be overwritten from our side

[2019-07-26 23:15] tschellenbach commented on #37
@vishalnarkhede is working on the UI for this, right now the API calls are triggered, but there is no visible UI feedback

[2019-07-27 19:19] tschellenbach commented on #36
Yes, this is definitely supported. Note that our moderation dashboard isn't live yet. It's almost done though, so that will make it easier to setup moderation.

@tbarbugli can help configure the permissions

[2019-07-29 08:08] vishalnarkhede commented on #37
@codekiln Visual response for these actions should be published today. Will let you know!!

[2019-07-29 13:02] vishalnarkhede commented on #37
Hey @codekiln you can use v0.6.16 now.

- Have added visual response (notification) to indicate result of flagging/muting
- You can customize the message shown on screen as well by providing following functions as prop to MessageList component. Check the [component doc](https://getstream.github.io/stream-chat-react/#messagelist) for details about this function:
    - getFlagMessageSuccessNotificat

[2019-07-29 13:02] #37 closed

[2019-07-29 16:49] codekiln opened #38 "Export LoadingChannels in stream-chat-react/src/components/index.js"
I noticed [`LoadingChannels`](https://getstream.github.io/stream-chat-react/#loadingchannels) in the react component docs. I'd like to use this component while waiting for the `setUser` promise to complete, but it looks like `stream-chat-react/src/components/index.js` doesn't export it.  Is there a reason it's not exported?

[2019-07-29 18:47] codekiln opened #39 "Disable file uploads for certain users"
I'm seeking to disable file uploads for our normal users, and only enable them for our moderators.

Using the Python API I have created a custom channel type with the following permissions, which eliminate the `UploadAttachment` permission normal users, and instead adds it to the permissions for `channel_moderator` users:

![image](https://user-images.githubusercontent.com/140930/62073726-48f85a80

[2019-07-30 08:26] vishalnarkhede commented on #38
Looks like its missing from export list. We shall export it soon and update you!

[2019-07-30 08:34] tbarbugli commented on #39
Hiding the upload box based on permissions is very prone to error, I suggest we at least expose a prop function like `uploadEnabled` that accepts `(user, channel)` and returns a boolean.

[2019-07-30 10:16] jaapbakker88 commented on #38
I just released version `0.6.17` of `stream-chat-react`. This exports the LoadingChannels component

[2019-07-30 10:16] #38 closed

[2019-07-30 11:32] jaapbakker88 commented on #36
@codekiln I updated `stream-react-chat` to version `0.6.17` which includes support for moderators to edit and delete posts. I hope this solves your issue, let me know if you run into anything else!

[2019-07-30 11:32] #36 closed

[2019-08-01 14:39] codekiln commented on #39
Using the suggestion in https://github.com/GetStream/stream-chat-python/issues/6#issuecomment-516333762, I was recently able to remove channel commands, and I can see that this changes the commands available in the autocomplete.

Similar to above, I've removed the permission for non-moderator / non-admin users to ban and unban and I would like a way to make it so that regular users do not see  the

[2019-08-05 18:16] codekiln opened #42 "Trap and display error message in `Channel.componentDidMount()`"
In [`Channel.componentDidMount()`, if there is an error with `await channel.watch()`, the error message is not trapped](https://github.com/GetStream/stream-chat-react/blob/1fbd580bebf91694429da731f8db3a9ba7188572/src/components/Channel.js#L160).

As a result, when [`Channel.render()` tries to display the error message, it shows up as just `Error: `](https://github.com/GetStream/stream-chat-react/b

[2019-08-14 12:34] vishalnarkhede commented on #39
Hey @codekiln ,

Thank you for bringing this up. I will discuss with team and add the things mentioned by you in our list of upcoming enhancements :)

[2019-08-15 11:28] vishalnarkhede commented on #42
Hey @codekiln ,

Thanks for brining this up. This is now fixed in `v0.6.22` of react sdk.

We have added support for `LoadingErrorIndicator` component as prop to `Channel` component. It accepts error object as prop. By default [this](https://github.com/GetStream/stream-chat-react/blob/master/src/components/LoadingErrorIndicator.js) simple error message component is used.

Please reopen the issue i

[2019-08-15 11:28] #42 closed

[2019-09-09 00:03] ferhatelmas opened #53 "Audio type for facebook might be wrong"
Firstly, I'm not sure if it's a real issue.

[Following snippet](https://github.com/GetStream/stream-chat-react/blob/011cc14dad7c5306adaa44d4ab0eb645a363b53e/src/components/Audio.js#L72) seems suspicious since both side of `if` returns same result.

[code]

Moreover, if I do a quick googling, seemed to me that `type` should be `audio/vnd.facebook.bridge` in that case.

[2019-09-10 09:27] jaapbakker88 commented on #53
I believe we use a library to support audio playback which doesnt like the `audio/vnd.facebook.bridge` type.  It only works if we use the `audio/mp3` I think. But I'll have to look into this to see if it's actually an issuue.

[2019-10-07 20:46] codekiln opened #67 "viewport should not move when viewing livestream chat history and new messages arrive"
I'm using the Livestream chat type, and our customers and clients are complaining that when many people are on the channel, new messages move the viewport. This makes it hard to edit or delete messages when there are many people chatting, because the viewport is moving around so many times per minute.

The standard idiom in chat (see skype, slack, etc) is that when you scroll into the chat history

[2019-10-07 20:55] codekiln opened #68 "livestream chat should not include join notifications"
I have specified `connect_events: False` on my custom livestream type, and yet my customers are seeing "[Username] has joined the chat" notifications. This seems like a bug. On livestream style chat, connect notifications become very noisy when there are a lot of participants.

![screenshot of getstreamIO livestream settings with "connect events" set to false](https://user-images.githubusercontent

[2019-10-10 07:07] tbarbugli commented on #67
@codekiln thank you for reporting this problem; what you describe is a bug on the React Native SDK, the intended behavior is indeed what you describe (auto scroll on new messages only when the message list is not at the bottom).

[2019-10-10 09:14] jaapbakker88 commented on #68
hi @codekiln, thank you for reporting this, I think this is a bug and we'll look into this. We'll update here once we have a solution.

[2019-10-14 17:12] ravlio opened #73 "Allow actions without images"
Please do support of actions without the need for a picture. The idea is to give the ability to show actions to the client as solo or just with text (without need to set title_link and thumb_url which are obligatory on this moment).

[2019-10-15 14:01] vishalnarkhede commented on #67
Hey @codekiln ,

This has been fixed in v0.7.8. Please confirm if it solves the problem for you :)

[2019-10-15 14:20] codekiln commented on #67
@vishalnarkhede Thank you! Testing in progress.

[2019-10-15 15:01] codekiln opened #75 "Incorrect prop type for MessageInputLarge.numberOfUploads"
I noticed that the recently added [prop types for MessageInputLarge specify that `numberOfUploads` should be an object](https://github.com/GetStream/stream-chat-react/blob/master/src/components/MessageInputLarge.js#L78).

Farther down in that file, `renderUploads` calls this prop as so:

[code]

The [docs for `channel` still say `maxNumberOfFiles` should be a number](https://getstream.github.io/st

[2019-10-15 15:22] codekiln opened #76 "a11y support"
I work in the edtech space, where a11y support is a top priority.

It would be a lot easier to sell `stream-chat-react` to my team's stakeholders if GetstreamIO publicly shared this priority. And as a component kit, `stream-chat-react` is uniquely positioned to be able to differentiate itself with a11y support.

1.) Will you consider adding a11y support as a product goal in GetstreamIO's marketing

[2019-10-15 15:23] vishalnarkhede commented on #75
@codekiln Thanks for reporting this. We will fix it in next release :)

[2019-10-15 15:49] codekiln commented on #67
Unfortunately, this issue is still reproducible for me.

NPM:
[code]

Python pip:
[code]

Viewport of 2nd user's window **before** posting message with user 1:
![before image - top of image includes the phrase "Last Wednesday" at the top](https://user-images.githubusercontent.com/140930/66847491-74066680-ef41-11e9-8381-903effa7acd6.png)

Viewport of 2nd user's window **after** posting message with

[2019-10-15 16:01] codekiln commented on #67
Some more info about this example:

[code]

[2019-10-16 12:39] vishalnarkhede commented on #67
@codekiln Does it only happen when first new message arrives? Or with every new message it keeps scrolling up?

Following is the scenario:

MW - Message Window
1. Scroll up in MW-1
2. Send a message from MW-2 (at this point you I think see the shifting in viewport)
3. Send few more messages from MW-2 - At this point do you still see the movement or scrolling in MW-1?

[2019-10-16 12:52] vishalnarkhede commented on #68
Hey @codekiln , `Connect Event` toggle on dashboard only controls `user.start_watching` and `user.stop_watching` event. We will add a support for prop to allow custom UI component for these event message/notification. Using that you can control weather to show or hide these notifications.

[2019-10-16 12:55] vishalnarkhede commented on #68
@codekiln `Connect Event` toggle only handles `user.start_watching` and `user.stop_watching` events. In next release we will add support for prop to customize UI component for these event notifications. Using that you can control weather to show or hide or customize as per your need.

[2019-10-16 14:17] codekiln commented on #67
Hi @vishalnarkhede, with your described scenario, it keeps scrolling _down_ with each new message that arrives.

Tested in the JS console with the following snippet:
[code]

## Starting point
`"scroll top is at 62.11% from bottom to top"`
![image](https://user-images.githubusercontent.com/140930/66927240-77f7be80-effd-11e9-8c5c-7a06ef64d881.png)

## message 1 arrives
`"scroll top is at 60.72% from

[2019-10-16 16:52] vishalnarkhede commented on #67
Hey @codekiln,

Sorry for the miscommunication. Unfortunately fix was not published as part of v0.7.8.
I have just published a new version of our sdk - v0.7.9 which contains that fix.

Please check and let us know if it fixes the issue :)

[2019-10-17 12:44] codekiln commented on #67
Thanks @vishalnarkhede - testing in progress.

[2019-10-17 12:55] #67 closed

[2019-10-22 16:40] abf6ug opened #78 "messagelist-scroll-fix bug"
There was a recent fix that dealt with fixing scrolling when there are images loading in the chat.  This works part of the time, but if you have a slow connection or there are many images, it still improperly loads the chat in the MessageList/ReverseInfiniteScrollList.

Possible solutions I can think of:
- Use a placeholder for these slow images, then onload, replace placeholder with real image
-

[2019-10-25 12:20] bimusiek opened #79 "ChannelList does not update when new conversation is made"
Hey,
I am trying to make channel list be updated when new conversation is created.

Our use case:
1. User signs up, we create new channel for him
2. Our agents have chat support UI opened
3. New channel does not pop up on top
4. When refreshing page, it is there and then it pops up when there is new message

Channel has 1 member only (user that signed up).
Agents have admin permissions.

I guess b

[2019-11-01 15:50] codekiln opened #80 "Image modal backdrop z index is less than message input z index"
When clicking on an image preview in 0.7.9, the image modal backdrop is behind the message input, which does not seem correct:

![shows picture of black hole in a modal with the message input area popping out against the dark background](https://user-images.githubusercontent.com/140930/68037273-bfd54180-fc9d-11e9-9721-2bafa917a05f.png)

This happens because [`MessageInputLarge` has a hardcoded zIn

[2019-11-04 13:28] jaapbakker88 commented on #80
Ah thanks for reporting this. Will get a fix out ASAP

[2019-11-04 15:30] codekiln opened #82 "Consider including send button"
Our careful QA team has noticed a UI inconsistency between "Edit Message" and "Message Input" modes. They would like to request more consistency with Skype with respect to a Send action.

Skype has a "send" button (paper airplane icon), and when you edit a post, it turns to a "cancel" icon (X icon), which turns to a "send" button (paper airplane icon) when you start to modify a post that is in edi

[2019-11-05 13:53] jaapbakker88 commented on #80
@codekiln i released version `0.7.11` which should fix this issue. Let me know if it resolves it.

[2019-11-05 15:15] codekiln commented on #80
Will check later today, thanks @jaapbakker88

[2019-11-06 18:45] ntziolis opened #83 "Clone => yarn build => failure on Windows"
We are trying to extend MessageSimple to allow displaying both the auto translated message + original message. The translations are added as custom data to new messages via webhook.

We have performed the following steps:

- Cloned repo (today, master)
- Run `yarn install`
- Run `yarn build`

Result:
- Errors logged during build process (seem scss related)
- `dist/index.css` still contains scss (s

[2019-11-06 19:07] jaapbakker88 commented on #83
Thanks for reporting this issue @ntziolis . Can you share a bit more about your setup, what version of yarn and node are you running? Thanks

[2019-11-07 06:03] ntziolis commented on #83
We are using yarn version 1.19.1 (should be lastest).
We have tried multiple different node version from 10 all the way through to 13.

We have also tried multiple different system configurations
- WSL
  -  This produces the error seen
- Windows
  - Fails no matter the node/yarn version due to build script containing `mkdir -p dist/assets` (-p flag does not exist on windows)
  - we replaced the di

[2019-11-07 08:26] ntziolis commented on #83
Also is there any way to set set a logging level during build to something like `Verbose` ?

[2019-11-07 11:06] ferhatelmas commented on #83
@ntziolis could you run yarn with `--frozen-lockfile` flag?

For environment, you can inspect one of the latest successful build for example
for convenience: https://travis-ci.org/GetStream/stream-chat-react/builds/608668612

@jaapbakker88 we might add `before_install` for `yarn` because travis uses an old yarn by default.

[2019-11-07 12:06] ferhatelmas commented on #83
@jaapbakker88 https://github.com/GetStream/stream-chat-react/pull/85 for yarn version

[2019-11-07 16:06] ntziolis commented on #83
Checking now, getting back to you within the hour

[2019-11-07 21:05] ntziolis commented on #83
Sry for the delay. The `--frozen-lockfile` flag did not help. We did setup a completely fresh system to test things out but with the same result (using 100% same versions as menioned in your travis builds.

We did find a few things:
- Changing `../../../node_modules/emoji-mart/css/emoji-mart.css`to `@import "../../../node_modules/emoji-mart/css/emoji-mart"` in `emojii-mart.scss` + the same change

[2019-11-08 09:17] ferhatelmas commented on #83
@ntziolis we didn't put any effort building on windows but it will be better to cover.

I will add windows building into CI so that we can find out the issue and fix it.

[2019-11-11 13:40] ntziolis commented on #83
@ferhatelmas That you that would be much appreciated. Right now we are working with hands tied behind our back:
- we are checking in the dist folder and are removing the `prepare` script
- we can only make changes to js part of the components as we cannot compile the css portion properly
- that means after building we discard the generated broken css (and leverage the ones that come with the origi

[2019-11-15 11:01] ntziolis commented on #83
@ferhatelmas Were you able to run a build on windows in your CI environment? Or if not yet any ideas where the issues come from so we could monkey-path it on our end?

[2019-11-15 11:07] ferhatelmas commented on #83
@ntziolis started, running and it seems fixing it will require some bumps in dependencies. Checking it today and accordingly, will keep you updated.

[2019-11-16 09:10] ntziolis commented on #83
Awesome thank you. I'm just glad we now have confirmation that we were not to dumb getting it up and running :D

[2019-11-18 10:50] jaapbakker88 commented on #80
@codekiln I'm going to close this issue, let me know if this is still a problem.

[2019-11-18 10:50] #80 closed

[2019-11-20 16:47] mmickler opened #89 "How to use ChannelSearch Component"
Hey, how can i use your ChannelSearch Component in maybe the ChannelHeader Component?

Will you implement a messageSearch Component in the future?

I am really new to react, but i want to use you components in the right way, maybe you can add a short description with the informations how and where to export and import components you build but don't use it now in other components

I want to write <

[2019-12-01 09:10] ntziolis commented on #83
@ferhatelmas Any update on ability to build on windows?

[2019-12-03 20:03] codekiln opened #96 "Enhancement Request: close / "&times;" button on modal that magnifies image"
It would be really nice if you had a close / "&times;" button on the top right of the magnified images modal, and if this button could receive focus.

Right now the user can hit `escape` to dismiss the modal if they know to do that, but if the user does not know how to do that or opens an especially large image, they may be confused about how to get rid of the modal.

[2019-12-06 10:36] damianprzygodzki opened #97 "SendButton missing in types definiton"
I can't add sendbutton to MessageInput despite it is taken as prop in component.

[2019-12-06 23:17] tschellenbach opened #98 "CSS build flow fails on recent node"
node 12.13.1
yarn start

causes the build flow for css to fail. also many packages are outdated (JS ecosystem moves quickly)

[2019-12-14 11:14] ntziolis commented on #83
Any update? We are desperately waiting for this to be fixed. Please let us know if we can expect this anytime soon, otherwise we will have to find other solutions

[2019-12-14 12:56] ferhatelmas commented on #83
@ntziolis sorry for yhe inconvenience it slided a bit but I will ensure it's ready for Monday.

[2019-12-16 18:41] tschellenbach opened #99 "Wishlist for 2.0"
Wishlist for Stream Chat React 2.0.
Summary updated January 24th:

## Codebase Improvements

* Upgrade Deps
* React to 16.12
* TypeScript
* Hooks
* Show Coverage percentage

## Features

* MML
* Message Search component
* Improved performance using one of the recyclerview style libraries for react & Additional benchmarking
* Unread count component

## Examples

- better customer support example (s

[2019-12-16 18:42] tschellenbach opened #100 "Poll: Styled Components vs CSS"
Let us know which one you prefer:

🚀 for styled-components and 🎉 for CSS

[2019-12-17 08:21] tbarbugli commented on #99
- improve test coverage (Jest)
- use Browserstack or similar (useful to avoid UI / UIX regressions)
- improve ease-of-use around unread messages

[2019-12-17 13:11] ferhatelmas commented on #83
@ntziolis do you have any chance to use the linux subsystem in windows? I tested with Windows 10 + ubuntu and it works nicely.

[2019-12-17 16:36] ntziolis commented on #83
@ferhatelmas We have been using the subsystem for linux (same config WIndows 10 + Ubuntu) since shortly after opening the issue. But we were not able to build the css files properly. Are you saying by now building the css works in the linux subsystem? If so we can make due with that no prob.

[2019-12-23 13:29] volodymyr-manko opened #101 "messageActions/MessageInput parameters support for Thread component"
Currently, **Thread** component has no parameters like **messageActions** or **MessageInput**.
So, regardless of commands/permissions configuration on Dashboard, MessageList component (Thread -> MessageList), gets **messageActions** property as undefined, and in result the default list of actions (["edit", "delete", "mute", "flag"]) is used, which cannot be overridden for Thread.

As well there is

[2019-12-24 13:45] vishalnarkhede commented on #101
Thanks @volodymyr-manko for bringing this up. We are looking into it and get back to you soon with resolution :)

[2019-12-24 14:37] volodymyr-manko commented on #101
Thanks :)

[2019-12-27 20:01] dmcguire81 commented on #101
@tbarbugli @vishalnarkhede this could also support our use case of specializing thread-handling.

[2019-12-30 08:54] jaapbakker88 commented on #89
Hi @mmickler, we will implement a message search component in the future, i don't have an estimated time. Where are you making the changes to our library? Did you fork it?  Our components are exported from `src/components/index.js`.

Regarding the typescript typings, I'm not fully understanding the issues your having here? Are you running into build errors?

[2019-12-30 08:55] jaapbakker88 commented on #99
* Search Component

[2019-12-30 09:28] jaapbakker88 commented on #82
@codekiln Right now we have a sendbutton that only displays on mobile, this could be tweaked through css to display also on desktop. Will that solve this issue?

[2019-12-30 09:37] #75 closed

[2019-12-30 09:41] jaapbakker88 commented on #79
@bimusiek We don't support this right now. Why don't you add the admin as a member to the channel? This would give you to get the appropriate events.

[2019-12-30 12:09] jaapbakker88 commented on #78
#99

[2019-12-30 15:09] jaapbakker88 commented on #101
@volodymyr-manko the thread component now supports the following props in version `0.7.15`. This allows you to update the underlying MessageList, MessageInput and Message components, through props.
- `additionalParentMessageProps`
- `additionalMessageListProps`
- `additionalMessageInputProps`

[2019-12-30 15:10] jaapbakker88 commented on #97
@damianprzygodzki this should be fixed in version `0.7.15`, can you confirm this works for you?

[2019-12-30 15:56] vishalnarkhede commented on #96
Hey @codekiln , we do have close button on modal!
<img width="1382" alt="Screenshot 2019-12-30 at 16 53 59" src="https://user-images.githubusercontent.com/11586388/71589457-3cad5c00-2b25-11ea-9fee-7c1599615f82.png">

We will fix the focus issue soon!!

[2019-12-31 10:13] volodymyr-manko commented on #101
@jaapbakker88
Cool, thanks! :)

[2019-12-31 11:04] volodymyr-manko opened #116 "MessageSimple component has no ability to set "grow" prop for MessageInput (in message edit mode)"
The inability to set `false` for prop `grow` for **MessageInput** component inside **MessageSimple** component (or configure anyhow **MessageInput** field size) in _message edit mode_ leads to a situation, when large text (in opened Edit message modal) automatically increases the input field, which moves Emoji picker to top and crops it, so the user can't select preferrable emoji:
[code]

So, coul

[2019-12-31 14:42] jaapbakker88 commented on #116
Hi @volodymyr-manko, will have a look at this in the new year. Just to be clear, you're talking about the edit form that's being used in MessageSimple.

[2019-12-31 15:22] volodymyr-manko commented on #116
Hi @jaapbakker88, yes I'm talking about edit form that's being used in MessageSimple.

But as for supporting new prop `maxRows` for MessageInput - I think it'll be good to have the ability to configure it in different parts of a chat, not only in MessageSimple.

[2019-12-31 22:33] tschellenbach commented on #99
* For livestream use case, this or an alternative would be nice: https://github.com/Flipkart/recyclerlistview

[2020-01-02 15:19] bimusiek commented on #79
@jaapbakker88 Ya, thats what we did at the end. 👍

[2020-01-02 15:19] #79 closed

[2020-01-02 16:30] jaapbakker88 commented on #116
#119

[2020-01-02 16:42] #101 closed

[2020-01-02 17:01] jaapbakker88 commented on #116
@volodymyr-manko included a prop `additionalMessageInputProps` on the Message components. I also added `maxRows` to all the inputs so this is now configurable

it's live right now on `0.7.17`

[2020-01-03 16:42] mmickler commented on #89
Hey

Nice to hear from you. I am still working on it, so i haven't fork it right now, what we done is query all messages in one channel, and than compare if a substring is in message.text or in message.translations[userlanguage] what is a customfield which we fill with translations out of microsofts translator text. It work really well after we switch of the loadmorepaginater for messages and quer

[2020-01-06 10:28] jaapbakker88 commented on #89
I think the problem here is we're using the message.text field to search for messages and not custom fields on the message. So I think right now using the client.search will not work for your translated custom fields.

[2020-01-07 19:31] lr-mjaouen opened #121 "MessageText & renderText for stream-chat-react?"
Hello,

Is there something like `MessageText` & `renderText` https://github.com/GetStream/stream-chat-react-native/issues/62 in stream-chat-react in order to parse custom text and keep the defaults one (links for instance)?
And actually anything for custom commands or an example for https://getstream.github.io/stream-chat-react/#chatautocomplete?
Thank you!

[2020-01-07 23:46] lr-mjaouen opened #122 "Edition of a message with a uri attachement duplicates the attachement"
![image](https://user-images.githubusercontent.com/56837954/71938600-f471e780-317d-11ea-8b86-9b87373d874a.png)
Editing a message with uri attachement will duplicate the attachement

[2020-01-08 08:29] jaapbakker88 commented on #121
Hi @lr-mjaouen right now we don't support this. We're working on v2 of the library and I'll make sure to put this on the list. The easiest way to do this right now is to built your own message component.

[2020-01-08 08:38] jaapbakker88 commented on #122
Hi @lr-mjaouen, thanks for reporting this issue,  this is definitely a bug and we're investigating the source of it. We will report back here once we know more

[2020-01-08 08:53] volodymyr-manko commented on #116
Sounds great, thanks! :)

[2020-01-08 08:54] #116 closed

[2020-01-08 09:22] volodymyr-manko opened #123 "[Send a message] The same attachment can't be selected if it was deleted from preview"
Steps to reproduce:

1. Click "attachment" icon
2. Select attachment in the window
3. Click "delete" the attachment on the preview
4. Try to select the same attachment again

**Expected result:**
The same attachment is selected

**Actual result:**
The same attachment can't be selected.

[2020-01-08 14:33] lr-mjaouen commented on #121
@jaapbakker88 thank you. In order to pass a custom prop in a message and display it in a CustomMessage component what's the best way for the input? Right now I use a custom handleSubmit function but I can't reset the state on the message sent.
[code]
Should I use something else?

[2020-01-08 15:59] lr-mjaouen commented on #99
typescript?

[2020-01-08 17:14] ntziolis commented on #83
Still running into the same issue as before when using WLS. Tested on multiple devices all running Windows 10 + Ubuntu.

[2020-01-08 18:01] tschellenbach commented on #99
For our feed library we used Flow. It was a bad experience since it made it hard for customers not using Flow to edit our components. That was the reason we didn't use typescript for this library.

On the other hand it keeps on becoming more popular... So maybe we should reevaluate

[2020-01-08 19:58] lr-mjaouen commented on #99
I'm not sure to understand more than popular typescript is becoming a standard
https://www.thoughtworks.com/radar/languages-and-frameworks/typescript

[2020-01-08 20:00] lr-mjaouen commented on #121
(I extended the `MessageInput` component, I didn't find an other way to do it)

[2020-01-09 09:01] jaapbakker88 commented on #121
@lr-mjaouen yeah right now that's probably the best way, this might also be someone we want to think about for v2

[2020-01-09 15:18] volodymyr-manko opened #128 "Add formatDate prop to MessageSimple component"
Currently **MessageSimple** component doesn't allow to change default formatting of message timestamp:

[code]

Could you please support `formatDate` prop for **MessageSimple** component, like in **DateSeparator** case?

[code]

[2020-01-10 10:24] jaapbakker88 commented on #123
Can you share a bit more information on this? What MessageInput are you using? What kind of attachment are you selecting?

[2020-01-10 10:31] volodymyr-manko commented on #123
Sure, you can reproduce it in any message input field (e.g. in a field with placeholder "Type your message", here: https://getstream.github.io/stream-chat-react/#!/Chat/1).
Attachment means any picture, e.g, in .png format.

It seems it's not related to #122 issue.

[2020-01-10 13:15] jaapbakker88 commented on #122
hi @lr-mjaouen I fixed this issue in version `0.7.19`. Can you confirm it's working correctly now?

[2020-01-10 13:18] jaapbakker88 commented on #123
I'm not able to reproduce, I just released a fix for the #122 issue. Could you upgrade to version `0.7.19` and try again?

[2020-01-10 13:18] jaapbakker88 commented on #128
Hi @volodymyr-manko I will take a look at resolving this as soon as possible

[2020-01-10 14:03] volodymyr-manko commented on #123
I'll try to present you the steps to introduce the issue. :)

Steps 1-2:

![step1](https://user-images.githubusercontent.com/55987896/72157944-c11f9a80-33c1-11ea-8866-03248d9f270b.png)

Step 3:

![step2](https://user-images.githubusercontent.com/55987896/72157945-c11f9a80-33c1-11ea-8ae6-6604a2a25717.png)

Step 4: same as steps 1-2 (try to attach the same image, that was previously removed from pre

[2020-01-10 14:53] jaapbakker88 commented on #123
I can see the image failed to upload the first time, do you see any errors in the console?

[2020-01-10 15:18] volodymyr-manko commented on #123
You are right, that image really failed to upload, and now I see the error in a console (bad image example from my side).
Nevertheless the same steps are also reproduced for valid images which are uploaded successfully. Try please again.

[2020-01-10 16:40] lr-mjaouen commented on #122
All good!Thanks

[2020-01-10 17:13] lr-mjaouen commented on #122
Actually it works for link images but duplicates custom attachements.
![image](https://user-images.githubusercontent.com/56837954/72172224-a12cae80-33a2-11ea-9783-7fff8c139fb6.png)

[2020-01-10 20:56] lr-mjaouen opened #129 "Provide global custom MessageInput/handleSubmit for both, message sending and message edition"
Provide global custom MessageInput/handleSubmit for both, message sending and message edition in order to use the same extended `handleSubmit` function.

Right now the only possible way to extend it is to extend the `MessageInput` component if so it's not the same component use in `Message***` (ex `MessageSimple`) component.

[2020-01-13 08:44] jaapbakker88 commented on #129
@lr-mjaouen i'm not a 100% sure what you mean. Could you elaborate on this?

[2020-01-13 15:02] lr-mjaouen commented on #129
The question is, how can I send an extended message (a custom attachment) using the chat input?
So extending the `MessageInput` component and change the `handleSubmit` function. Ok.
The problem is when I edit a message, it use the default one and not the extended one, so I have to extend `MessageSimple `.
To be able to provide a custom `handleSubmit` or a custom attachment shouldn't be a default o

[2020-01-13 20:07] lr-mjaouen commented on #122
could fix it?
[code]

[2020-01-14 10:36] jaapbakker88 commented on #122
Looking into this again. Seems above fixes some cases but not all.

[2020-01-14 10:37] jaapbakker88 commented on #123
I am able to reproduce this now, will look in to this.

[2020-01-14 14:48] lr-mjaouen commented on #121
https://github.com/GetStream/stream-chat-react/blob/master/src/utils.js

[2020-01-14 14:48] #121 closed

[2020-01-15 08:07] damianprzygodzki commented on #97
Yes, thank you!

[2020-01-15 08:07] #97 closed

[2020-01-15 09:32] damianprzygodzki opened #132 "getMessageActions isn't declared in type MessageUIComponentProps"
Again, same issue, your docs use in MessageSimple method getMessageActions which is omitted in interface MessageUIComponentProps.

[2020-01-15 11:24] damianprzygodzki opened #133 "MessageActionsBox is not exported"
And it cannot be reused as component outside package

[2020-01-15 13:04] damianprzygodzki opened #134 "Message.clearEditingState is not typed"
Another property is not typed

[2020-01-15 13:07] damianprzygodzki opened #135 "Modal component is also not exported nor typed"
I can't use Modal i.e. when i want to customize editing of message...

Guys, this "UI-kit" is pretty useless when you want to use it with typescript. You are using doubled declarations of propTypes (one in components, second in ts files). Maybe its good to make refactor of these or make awareness that ts here is not supported?

[2020-01-15 18:59] KirankumarAmbati commented on #83
I am facing similar issue. I cloned [repo](https://github.com/GetStream/stream-chat-react.git), ran `yarn` and `yarn start`

Getting below error:

[code]

Environment Info:

Windows 10
yarn 1.21.1
node v10.15.0

Please help me if I'm doing something wrong. Thanks!

[2020-01-15 21:43] fbartho commented on #99
### TypeScript

I certainly love TypeScript and know that I'm not alone in that :D -- I know people that have fallen off of Flow, and avoided all kinds of typed things too for a while, but have enjoyed TypeScript when they finally tried it.

Additionally, our web team is about to start using TypeScript (ancient tooling issues prevented us from adopting it on our website before now, but both of our

[2020-01-15 22:26] DanC5 commented on #99
- Thread preview enrichment with profile images of thread members (similar to Slack)

[2020-01-21 16:20] jchild3rs opened #138 "Rollup externals are not being added to peerDependencies"
I use react-dropzone outside of StreamChat. However, StreamChat sneaks in a version of react-dropzone that is old. This is causing me a lot of problems. It seems I have to downgrade to whatever StreamChat uses. Hard to know what version to use when it is not even included as a dep in your package.json.

[2020-01-21 16:39] jchild3rs commented on #138
Found it as a dependency to `react-file-utils`. Now time to revert all my nice hook based code to render props because of this. Fun!

[2020-01-21 16:51] jchild3rs commented on #138
For anyone running into this, a (not so great) workaround would be to use npm aliasing:
`"my-react-dropzone": "npm:react-dropzone@^10.2.1",`

[2020-01-22 08:29] tbarbugli commented on #138
@jchild3rs thank you for reporting this!

[2020-01-30 10:36] vishalnarkhede commented on #135
Hey @damianprzygodzki  we will soon update this repo by exporting all the components with their types.

Our next major refactor will publish all the components in typescript itself instead of maintaining separate typescript declaration file.

[2020-01-30 10:37] vishalnarkhede commented on #134
@damianprzygodzki thanks for reporting this. Will fix this in next release !!

[2020-01-30 10:38] vishalnarkhede commented on #133
@damianprzygodzki This will be fixed in coming release!!

[2020-02-07 11:59] #132 closed

[2020-02-07 11:59] #135 closed

[2020-02-07 16:19] vishalnarkhede commented on #134
@damianprzygodzki this has been fixed. You can use `v0.8.1`.

[2020-02-07 16:19] vishalnarkhede commented on #133
@damianprzygodzki this component has been exported now as part of `v0.8.1`.

[2020-02-12 07:50] ApurvaDani opened #148 "How to set users?"
ror: {"code":43,"message":"JWTAuth error: signature is not valid. Make sure the token is created using the secret for API key \"xxxxxxxxxxxx"","StatusCode":401,"duration":""}

[2020-02-12 09:15] tbarbugli commented on #148
During development you can disable auth checks from the Dashboard and use development tokens

[code]

before going live you need to generate user tokens on your backend and use that instead dev tokens

Here's how you do it with Node

[code]

More on this topic: https://getstream.io/chat/docs/init_and_users/?language=js

[2020-02-12 09:15] #148 closed

[2020-02-12 10:17] luq10 opened #149 "Size of package"
This package is realy huge - 1.6mB. On bundlephobia - https://bundlephobia.com/result?p=stream-chat-react@0.7.13 - I see that:

24.6% of size is `emoji-mart`
15.2% of size is `moment`

Maybe, you can change this subpackages to something lightwight one, for example `dayjs` or `date-fns` instead `moment`, or maybe you can do something else to decrease size of package

[2020-02-18 22:21] vishalnarkhede commented on #149
HEY @luq10 thanks for reporting this. We will look into it soon :)

[2020-02-18 22:21] #134 closed

[2020-02-18 22:22] #133 closed

[2020-02-24 19:48] lr-mjaouen commented on #99
- Provide build-in mock class files

[2020-02-26 13:29] jaapbakker88 commented on #89
This will be added in a future release. We're currently working on the backend part of it.

[2020-02-28 02:52] josephto opened #152 "ChannelList does not handle events consistently when creating and deleting 1-1 conversations with the same person"
I can't seem to figure out the consistent steps to repro, but I'm noticing this the most often when I'm performing a series of creations and deletions of the same 1-1 conversation with the **same person**, ChannelList often does not handle the ['channel.deleted'](https://github.com/GetStream/stream-chat-react/blob/6460e88a3be12098ecabb00511ef23766da10d3e/src/components/ChannelList.js#L396) and ['n

[2020-03-04 22:00] josephto commented on #36
why are Owners of the chat allowed to edit and delete anybody's chat messages?

https://github.com/GetStream/stream-chat-react/blob/master/src/components/Message.js#L212

[2020-03-04 22:02] josephto opened #153 "why are Owners of the chat channel allowed to edit and delete anybody's chat messages?"
why are Owners of the chat allowed to edit and delete anybody's chat messages?

https://github.com/GetStream/stream-chat-react/blob/master/src/components/Message.js#L212

This seems like unexpected behavior and allows for anybody to maliciously rewrite the chat history of any channels they created between people

[2020-03-04 22:05] tschellenbach commented on #36
Permissions can be configured per channel type: https://getstream.io/chat/docs/channel_permissions/?language=js

So you can set this up to fit your use case. What are you building?

[2020-03-04 22:24] josephto commented on #36
A professional community platform. We're adding chat to it.

I tried using updating the role of the channel creator from 'owner' to 'member' on channel creation as suggested in the link you provided, but it just adds the 'roles' object to the channel.data object. It doesn't seem to be modifying the channels's member.user.role

[2020-03-04 22:27] tschellenbach commented on #36
You can ping support to ask for help with setting this up: https://getstream.io/support

[2020-03-04 22:27] josephto commented on #36
I think I may have misunderstood the documentation. It seems like that's actually for updating a channel type? not a specific channel that's already created?

[2020-03-05 13:55] jaapbakker88 commented on #36
You can set permissions in the dashboard for your whole app. this way you can make sure Channel creators are not able to delete and edit messages. But for example only admins and moderators.

[2020-03-06 12:57] DobritoiuBogdan747 opened #154 "New messages"
Is it possible to show new messages DateSeparator and have a flag on each new message that is new?

Example: I have a new message on a channel which i didn't open. When I open it I want to see the 'New messages' DateSeparator and those new messages to have a red background. (Similar to Slack's new messages separator + a flag for each message that is considered new)

[2020-03-09 10:03] jaapbakker88 commented on #129
How would you like to extend it. We have a prop called `overrideSubmitHandler`, this will completely override it, so you can technically implement your own custom attachments etc.

Is that what your looking for

[2020-03-09 23:46] josephto opened #155 "Deleting a reply in a Thread makes all the other replies after the deleted reply disappear"
if you reply to a message with
1
2
3
4
5
6
7

and delete message '4'. Navigate away from the chat and back to the chat and you'll notice that the reply count is 6, but when you open the thread again, it only shows
1
2
3
'This message was deleted...'

[2020-03-10 10:06] vishalnarkhede commented on #154
Hey @DobritoiuBogdan747 , it should be possible with some tweaks. I will try to setup some example app to check in next few days and get back to you :)

[2020-03-10 16:59] vishalnarkhede commented on #123
Fix will be ready soon - https://github.com/GetStream/react-file-utils/commit/474a17a7a49cba867f9d28bbc970610e6012d3b5

[2020-03-10 17:02] vishalnarkhede commented on #155
Thanks for bringing this up @josephto . I am able to reproduce the issue. We will look into it and get back to you.

[2020-03-10 17:04] josephto commented on #155
Thanks, keep me updated!

[2020-03-11 12:04] tbarbugli commented on #155
@vishalnarkhede I think this is a JS client issue, check `_handleChannelEvent` inside channel.js

![image](https://user-images.githubusercontent.com/88735/76415034-bfaa2880-6398-11ea-8628-e2ef326cb96e.png)

[2020-03-12 18:56] kovacsmarcellcodinglab opened #157 "There is an issue with the mute"
1. "notification.mutes_updated" successfully called when I mute the user, but "unmute" is not working,
    API not call this event. I use command to unmute user.
    Is there any config for contextmenu to show "unmute" option?
2. How to hide messages from muted user, but other user need to get muted user messages in channel?

[2020-03-12 21:08] lr-mjaouen commented on #129
https://github.com/GetStream/stream-chat-react/commit/3478f2e334824356f95d166cb4e9efa0fae07d23 thx

[2020-03-13 14:07] fredfgb commented on #20
hi, how can I address this at this moment?

[2020-03-13 14:09] tbarbugli commented on #20
@fredfgb we are going to add i18n next week to all React SDKs

[2020-03-13 15:01] fredfgb commented on #20
very nice! I wonder that documentation will be updated too rt ?

[2020-03-16 13:46] jaapbakker88 commented on #129
That's definitely an option. Will investigate a way to make this more useful.

[2020-03-16 18:01] lr-mjaouen commented on #129
Thanks, a line line could be enougth
[code]

[2020-03-16 19:29] lr-mjaouen commented on #129
(Providing a possible global hook before delete, update & create (send) could be nice I think maybe)

[2020-03-16 19:51] shodgetts opened #165 "testing new issues #1"
love from stephen

[2020-03-16 19:54] shodgetts commented on #165
stephen says hi

[2020-03-16 20:04] #165 closed

[2020-03-16 20:08] shodgetts opened #166 "testing git-zen #2"
meow

[2020-03-16 20:09] shodgetts commented on #166
hi

[2020-03-16 20:10] vishalnarkhede commented on #166
This meow sounds like a serious bug. Thanks for bringing it up @shodgetts :)

[2020-03-16 20:11] shodgetts commented on #166
It's bad, if only it was meow'ing in Zendesk too

[2020-03-16 20:12] #166 closed

[2020-03-18 04:21] jamesdbxt opened #167 "You can't use a channel after client.disconnect() was called"
Is there any reason why when tabbing back to our web application stream-chat is trying to execute getClient without us having mounted any components which interact with Stream Chat API?

This error is emitted to the console each time I refocus the Chrome tab containing our app which uses Stream Chat.

The version of stream-chat we are using are as follows.
"stream-chat": "1.2.1",
"stream-chat-reac

[2020-03-18 06:25] siddharthJadhav opened #168 "Can not get a member list from the channel"
I am implementing react PWA chat and in this, I am implementing invitation functionality.

For that, I create a channel (one-to-one) from the mobile app and send an invitation link which contain channel.

And in PWA we validate that phone number and initiate the chat to that channel.

I want to access the member of that channel but I am not able to access the member list.

### This is my following

[2020-03-18 09:52] #168 closed

[2020-03-18 10:45] vishalnarkhede commented on #167
Hey @jamesdbxt , this issue is fixed in 1.3.4 of stream-chat. If you update `stream-chat` (1.4.0) or `stream-chat-react` (0.8.6) version, you won't see this issue.

[2020-03-18 10:47] vishalnarkhede commented on #167
Hey @jamesdbxt we will check and get back to you. Thanks for reporting this!!

[2020-03-18 10:48] vishalnarkhede commented on #155
Hey @josephto , we have fixed this issue on our backend. Can you please confim if this is fixed for you?

[2020-03-18 21:06] josephto commented on #155
Hey Vishal,

We actually ended up implementing email notifications a different way that
didn't rely on online presence, but rather, based on each members' last
read time. So I can't confirm it readily right now. Thanks for fixing it!

Best,
Joseph

On Wed, Mar 18, 2020 at 3:48 AM Vishal Narkhede <notifications@github.com>
wrote:

[2020-03-19 09:57] vishalnarkhede commented on #155
Ok!! Closing this issue then!

[2020-03-19 09:57] #155 closed

[2020-03-19 16:17] #157 closed

[2020-03-19 16:17] kovacsmarcellcodinglab commented on #157
Solved other way

[2020-03-19 16:21] kovacsmarcellcodinglab commented on #149
Yes, please decrease the package size. What is the current status?

[2020-03-20 18:54] codekiln commented on #75
@jaapbakker88 it looks like this is not fixed in master: https://github.com/GetStream/stream-chat-react/blob/master/src/components/MessageInputLarge.js#L40

[2020-03-21 14:29] tbarbugli commented on #149
the 0.9.0 release uses day.js instead of moment.js that's a ~20% reduction in bundle size. The next big win is to optimize emoji-mart

[2020-03-22 15:12] jonasbarsten opened #174 "Support for gaming theme"
According to your [docs](https://getstream.github.io/stream-chat-react/#chat) you support both "gaming light" and "gaming dark".

Could you provide a quick guide on how to implement that?

[2020-03-23 08:32] jaapbakker88 commented on #174
Hi @jonasbarsten right now we don't have these themes developed yet, that is an error in our docs I'm very sorry.

[2020-03-23 09:03] jaapbakker88 commented on #75
@codekiln I'll have a look at it.

[2020-03-23 09:16] #174 closed

[2020-03-23 13:43] jonasbarsten commented on #174
I see, thanks for answering.

I've used the Sketch-template and created the design in HTML and CSS, any guidelines for how to start to implement it with the library?

.js

[code]

.css

[code]

[2020-03-24 08:07] jaapbakker88 commented on #174
@jonasbarsten the theme prop adds certain classes to your root component we use to overwrite certain styles. So what you want to do is replace our styles with your own and adjust the classes.

[2020-03-24 22:50] leogoesger opened #176 "Where is channels in the chatContext?"
In the doc it says channels are in the chatContext, but it seems like it isn't supported it.

channel, client, and setActiveChannel are the only objects.

[2020-03-25 08:50] Aksh0377 opened #177 "/~/stream-chat-react/dist/assets/str-chat__reaction-list-sprite@1x.png Module parse failed: /Users/akshay/forked_ta-react/node_modules/stream-chat-react/dist/assets/str-chat__reaction-list-sprite@1x.png Unexpected character '�' (1:0)"

[2020-03-25 08:51] Aksh0377 opened #178 "Can i install stream-chat-react with npm? or should i use yarn only ?"

[2020-03-25 10:32] khanilov opened #179 "Can't resolve 'i18next'"
Going through [tutorial](https://getstream.io/chat/react-chat/tutorial/), I received following error in console:

I have `"stream-chat-react": "^0.10.0"`

Installing `i18next` package manually solves the issue. Also this issue can't be reproduced in `0.9.0`. Maybe you forgot to add `i18next` to `package.json` during last release?

If it was intendant, what should I do to avoid this issue?

Thanks

[2020-03-25 11:28] tbarbugli commented on #178
We suggest using yarn because it does the job is a fraction of time but `npm` works as well. @vishalnarkhede pls make sure readme mention this ;)

[2020-03-25 11:28] #178 closed

[2020-03-25 12:15] vishalnarkhede commented on #179
Hey @khanilov , unfortunately that dependency was missing in package.json. We have it fixed it in `0.10.1`!

[2020-03-25 12:16] vishalnarkhede commented on #177
Hey @Aksh0377, can you please give a bit more details about it?

[2020-03-25 12:18] vishalnarkhede commented on #176
Hey @leogoesger , thanks for bringing it up. It looks like a mistake in docs, we will update the docs.

[2020-03-25 12:27] Aksh0377 commented on #177
Hi @vishalnarkhede,

I am using
"react": "^15.6.2",
node: 6.10.3
using npm for package management.

- installed getstream-chat-react using npm,
  after installing package when i run the project it give the following error:

ERROR in ./~/stream-chat-react/dist/assets/str-chat__reaction-list-sprite@3x.png
Module parse failed: /Users/akshay/forked_ta-react/node_modules/stream-chat-react/dist/assets/s

[2020-03-25 14:00] #179 closed

[2020-03-25 15:43] YohaanYoon opened #181 "TypeError: t is not a function"
Going through [tutorial](https://getstream.io/chat/react-chat/tutorial/), ChannelList component works well. But, I received following error, when MessageList and MessageInput components:

When MessageList and MessageInput components removed in render(), it works.

[2020-03-25 16:46] leogoesger commented on #176
@vishalnarkhede I could raise other issues, but `EmptyStateIndicator` is missing in ChannelList's prop types.

And if may, what is the strategy to add user to a chat when the user has not been created?

Use case:
We are migrating from Chatkit, so lots of current users have never called `setUser` yet. We need a way for us to initiate the convo with those un-initialized users, and does the initializ

[2020-03-25 17:31] vishalnarkhede commented on #181
Hey  @YohaanYoon thanks for bringing it up. I will check and get back to you!

[2020-03-25 17:35] vishalnarkhede commented on #181
@YohaanYoon can you please share the code around how you are using MessageList and MessageInput?

Also which version of stream-chat-react are you using?

[2020-03-25 17:43] thesyncim commented on #176
@leogoesger,
yes, users need to be created before added to a channel.

(I'm aware that pusher is working on an export tool that will make this process easier, but it's not ready yet)

for now, you can either use server-side auth or alternatively you could generate an [import file](https://getstream.io/chat/docs/import/?language=js&q=import).

Best,
Marcelo Pires

[2020-03-25 19:05] leogoesger commented on #176
@thesyncim what doe server side auth mean? creating the user on server side once error? or using the `updateUsers` methods creating all the users beforehand?

[2020-03-25 21:15] tbarbugli commented on #176
@leogoesger yes, you can use updateUsers to sync users in bulk from your backend (apologies for the misnomer, it actually does an upsert)

[2020-03-25 23:47] YohaanYoon commented on #181
[code]

[2020-03-26 00:06] leogoesger opened #182 "ChannelList presence: true does not subscribe to user.presense.changed"
[code]
I am passing presence: true to ChannelList options, but channel.state.members does not get updated when otherSender log in.

In Preview, I am just calling console.log to verify channel. The Preview component isn't even updating.

[2020-03-26 07:21] tbarbugli commented on #182
Can you share the preview component you are using? Also keep in mind the list of members does not change based on online presence but `channel.state.members[i].user.online` should (where `i` is the index for the user that went on/off line).

[2020-03-26 07:25] tbarbugli commented on #181
something is going wrong with the i18n setup, what does `chatTranslateInstance.getChatTranslate()` return?

For translations to work correctly, it should be something like this:

[code]

@vishalnarkhede is this is a misconfiguration problem we should add some basic validation to catch it when `Chat` is constructed and `i18nInstance` is passed

[2020-03-26 07:56] YohaanYoon commented on #181
@tbarbugli chatTranslateInstance.getChatTranslate() returns `new Streami18n `. ChannelList component works correctly. But, For MessageList and MessageInput components do not works.
Anyway, I will check my codes again.

[2020-03-26 10:45] vishalnarkhede commented on #181
@YohaanYoon I have published a fix for this. Can you please check on [0.10.2](https://github.com/GetStream/stream-chat-react/releases/tag/v0.10.2)

Its mostly because translator wasn't ready before rendering Chat component.

We have check `if (i18nInstance && i18nInstance instanceof Streami18n) { ... }`, which should be enough in my opinion, and since its working for ChannelList, don't think its a

[2020-03-26 11:18] YohaanYoon commented on #181
Thanks. It works well.

But, I have found the other issues.
In MessageList component, when I click flag or mute, console shows error message as follows:
[code]
[code]

I guess those are similar issues.
Please check it again.

[2020-03-26 12:55] vishalnarkhede commented on #181
Thanks for brining it up @YohaanYoon . Translation context consumer is missing on that component. I will put up a fix soon :)

[2020-03-26 13:45] vishalnarkhede commented on #177
Hey @Aksh0377

Module not found: Error: Can't resolve 'i18next' in '/Users/akshay/forked_ta-react/node_modules/stream-chat-react/dist'

 ↑ This has been resolved in stream-chat-react@0.10.2

Module parse failed: /Users/akshay/forked_ta-react/node_modules/stream-chat-react/dist/assets/str-chat__reaction-list-sprite@3x.png Unexpected character '�' (1:0)
You may need an appropriate loader to handle t

[2020-03-26 13:51] vishalnarkhede commented on #177
@Aksh0377 can you tell me version of react-node and react-scripts that you are using? I used the latest once in my sample app where it uses latest webpack version.

[2020-03-26 15:49] jaapbakker88 commented on #177
I think the problem is the version of node and react you're using.

We support node versions 10, 11, 12 and 13, and React version 16

[2020-03-26 16:16] vishalnarkhede commented on #167
We use [Visibilityjs](https://github.com/ai/visibilityjs) to track if user is on chat tab. And once user comes back to chat tab, we call markRead api call (which internally calls getClient). But if you unmount the component, then we unsubscribe this listener (from Visibilityjs) as well - https://github.com/GetStream/stream-chat-react/blob/master/src/components/Channel.js#L238 So ideally you should

[2020-03-26 16:28] kovacsmarcellcodinglab opened #185 "ChannelList error after delete/leave channel"
Hi,

I got this error after I delete  or memeber leave the channel:
Uncaught (in promise) TypeError: Cannot set property 'data' of undefined.

channelIndex (-1) cause the error in ChannelList component:

                if (e.type === 'channel.updated') {
                  channels = _this.state.channels;
                  channelIndex = channels.findIndex(function (channel) {

[2020-03-26 16:44] vishalnarkhede commented on #185
Hey @kovacsmarcellcodinglab thanks for bringing this up. I will fix this asap today :)

[2020-03-26 17:00] leogoesger commented on #182
This is a one-to-one chat, I'd like to display user online presence. I am not using memo or anything, so the Preview should be re-rendering on every props change. `channel` does not change.
[code]

[code]

[2020-03-26 17:00] vishalnarkhede commented on #153
Hey @josephto , this is our default behaviour. But for your usecase, you can override that behaviour using prop - `messageActions` on message UI component.

Please let me know if you would like sample code for it!

[2020-03-26 22:35] leogoesger commented on #176
And current it seems like all the users can see all the channels, is this caused by the "upsert"?

[2020-03-27 08:27] khanilov opened #187 "How to pass custom props to ChannelList child components?"
Hello,

I am creating custom `ChannelPreview` component and passing it to `ChannelList Preview` prop.
I need some custom props to be passed to this custom component, for example: dateFormat or authUserId. But as I see `Preview` prop does not support render function pattern.

What is preferable way to access custom props inside components passed to `ChannelList`?

I see as solution is to bring need

[2020-03-27 08:40] khanilov commented on #187
Sorry for inconvenience, `Preview` prop **does support** render function pattern.

[2020-03-27 08:40] #187 closed

[2020-03-27 09:08] vishalnarkhede commented on #20
@fredfgb docs for i18n - https://github.com/GetStream/stream-chat-react#internationalisation

[2020-03-27 09:56] kovacsmarcellcodinglab commented on #185
Hi,

I think your changes its not good, because if you do not set state, the component freeze.
We need to use condition like this, not just return:

if (channelIndex >= 0) {
 channels[channelIndex].data = Immutable(e.channel);
}

Event Update and Delete too.

Thx
Marcell

[2020-03-27 10:16] kovacsmarcellcodinglab commented on #185
Hi,

I test it. And works only if you use this fix:

- Update:
`if (e.type === 'channel.updated') {
                  channels = _this.state.channels;
                  channelIndex = channels.findIndex(function (channel) {
                    return channel.cid === e.channel.cid;
                  });

                  if (channelIndex >= 0) {
                    channels[channelIndex].data = Im

[2020-03-27 10:37] vishalnarkhede commented on #185
What do you mean by this? You can't interact with channellist anymore?

[2020-03-27 11:09] kovacsmarcellcodinglab commented on #185
Hi,

Yes, If you add only condition with return ChannelList is not working anymore.

If you use condition like me, ChannelList is working well.

Thx
Marcell

[2020-03-27 12:39] vishalnarkhede commented on #181
@YohaanYoon fixed in `0.11.1` :)

[2020-03-27 12:40] vishalnarkhede commented on #185
@kovacsmarcellcodinglab I don't see a reason why component should freeze though. And I am not able to reproduce this unfortunatel. Can you please share some code around the way you are using ChannelList component?

[2020-03-27 12:53] kovacsmarcellcodinglab commented on #185
I use Chat components like this:
` <Chat client={this.chatClient} theme={"messaging light"}>
                                <ChannelList
                                    List={ChannelListMessenger}
                                    Preview={FriendChannelPreviewConst}
                                    filters={filters}
                                    sort={sort}

[2020-03-27 13:14] YohaanYoon commented on #181
@vishalnarkhede Thanks

[2020-03-27 13:24] #181 closed

[2020-03-27 14:31] vishalnarkhede commented on #185
Hey @kovacsmarcellcodinglab

Couple of suggestions:

[code]

[code]

I am not still sure why you are running into freeze issue. Can you please try suggested changes and let me know if they help? :)

[2020-03-27 15:38] kovacsmarcellcodinglab commented on #185
Hi,

I still get the error, if I use this way.

Thx
Marcell

[2020-03-27 17:40] vishalnarkhede commented on #185
@kovacsmarcellcodinglab what error did you get this time?

[2020-03-27 19:07] kovacsmarcellcodinglab commented on #185
Hi,

The same, If I use your actual version with your suggestion:
channelIndex (-1) cause the error in ChannelList component:

            if (e.type === 'channel.updated') {
              channels = _this.state.channels;
              channelIndex = channels.findIndex(function (channel) {
                return channel.cid === e.channel.cid;
              });
              channels[channelIndex].

[2020-03-29 12:13] khanilov opened #190 "Add scss source files to package files"
Hello,

I have a proposal how to enhance styles theming process.

Based on your answer on [How to customize styles?](https://github.com/GetStream/stream-chat-react/issues/29) thread.

I see that each of this two approaches has unpleasant downside:

1. Extra css and possible future specificity issues.

2. Manual syncing stream-chat-react styles updates with local ones, via building source code and

[2020-03-29 18:26] vishalnarkhede commented on #185
Hey @kovacsmarcellcodinglab , I understand your situation and I want to get this resolved as soon as possible as well. But I can't make the change blindly without knowing the root cause of problem. Currently I see no reason why the component should freeze if you don't call setState.

But you can unblock yourself meanwhile. You can pass following prop functions to override event handlers and thus t

[2020-03-30 15:04] kovacsmarcellcodinglab commented on #185
Hi,

I updated latest version and working well, so I not need any additional code right now.

Thx
Marcell

[2020-03-30 20:28] vishalnarkhede commented on #185
Thats a good news @kovacsmarcellcodinglab . I am gonna close this issue now.

[2020-03-30 20:28] #185 closed

[2020-03-30 20:33] vishalnarkhede commented on #182
Hey @leogoesger can you please show me full code of `Preview` component?

[2020-03-31 22:49] iamacatperson opened #192 "Client event doesn't detect user.presence.changed, user.watching.start, etc."
Basically I have this current set-up for livestream chat:

[code]
I tried sending messages on the channel or adding reactions and I do get the log for that event. I also get `health.check` and `connection.changed` logs from client events.

However, it can't seem to detect `user.presence.changed`, `user.watching.start`, etc. I simulated this by logging-in as 2 different users (one in normal browser

[2020-04-01 05:54] vishalnarkhede commented on #192
Hey @iamacatperson , I will check and get back to you!

[2020-04-01 05:57] vishalnarkhede commented on #190
Hey @khanilov ,

Thanks for bringing this up. We will look into it and get back to you on this one soon :)

[2020-04-01 07:41] vishalnarkhede commented on #123
Hey @volodymyr-manko this issue was fixed and released. Please use the latest version of stream-chat-react and let us know if its still not working for you

[2020-04-01 07:45] vishalnarkhede commented on #152
Hey @josephto thanks for reporting this. I will take a look. By the way, are you able to reproduce this on latest version of stream-chat-react (0.11.2)?

[2020-04-01 08:05] vishalnarkhede commented on #192
@iamacatperson by default presence related events are disabled for livestream type channel. You can enable them in dashboard (dashboard -> your app -> chat overview -> livestream -> connect events toggle)

<img width="1110" alt="Screenshot 2020-04-01 at 10 03 43" src="https://user-images.githubusercontent.com/11586388/78113515-22269f80-7400-11ea-99b8-8b5137f21b8f.png">

It has certain limit though

[2020-04-01 08:06] vishalnarkhede commented on #182
@leogoesger whats the channel type (in filters)?

[2020-04-01 09:36] iamacatperson commented on #192
@vishalnarkhede I restructured the component to use class-based component instead of functional with hooks. It's now working without me having to change the settings in the dashboard.

My question is, does the current react api not fully support functional component with hooks?

Yup it would be good to know about the limits. And is it the same even for a paid account?

[2020-04-01 10:40] bogdan-getstream commented on #192
Currently we have no limits other that rate limit.

Limits will be added soon, in case you need to disable such events on some amount of channel watchers, that setting will be configurable from dashboard

[2020-04-01 16:06] volodymyr-manko commented on #123
Thanks!

[2020-04-02 07:37] #123 closed

[2020-04-03 13:48] ingara opened #196 "visibilityjs causes the app to crash if running in node"
I'm using NextJS with SSR, and because code is shared between client and server, `visibilityjs` causes issues.

If I have any module that imports something from `stream-chat-react` it fails server side because of `visibilityjs`. This lib initializes itself with an IIFE that takes `window` as an argument, and as such it will cause a runtime error if any code that causes this module to be evaluated

[2020-04-03 14:14] vishalnarkhede commented on #196
Hey @ingara , I will look into it and get back to you!

[2020-04-06 07:53] siddharthJadhav opened #197 "Getting unread count even I am present on that channel"
Hello,

I am implementing PWA web-chat with react js.

I customize a channel list as mention in https://getstream.io/chat/react-chat/tutorial/  this link.

I fetching message count using below code
`const unreadCount = channel.countUnread();`

To fetch real-time unread count I fetch from the channel when I received a new message.
`
channel.on('message.new', (event) => {
const unreadCount = channel

[2020-04-06 08:29] vishalnarkhede commented on #197
Hey @siddharthJadhav, when you receive message.new event, channel doesn't know yet if you have read the message or not. If you are currently active on channel, then we mark it as read manually - https://github.com/GetStream/stream-chat-react/blob/master/src/components/Channel.js#L493

[2020-04-06 09:21] siddharthJadhav commented on #197
When I read that message I also manually doing the same using
`channel.markRead(); `

There is any way so I can get an active channel in MyChannelPreview.

[2020-04-07 04:07] DamonOehlman opened #198 "TypeScript typedefs for mobile nav add additional required props to `<Channel>` component"
I've dropped a comment to the commit line the introduces the change (which I think is an issue):

https://github.com/GetStream/stream-chat-react/commit/dbab78b78219a9a42dc5ca2bef20c2c793751a8e#r38333039

Copy of error reported by TS:

[code]

As mentioned in the inline comment on the commit, I believe this is due to the introduction of these additional required attributes / methods on the `ChatCon

[2020-04-07 07:48] vishalnarkhede commented on #197
@siddharthJadhav `activeChannel` is already present in preview component - https://github.com/GetStream/stream-chat-react/blob/master/types/index.d.ts#L205

[2020-04-07 07:51] vishalnarkhede commented on #192
class or functional components shouldn't matter. Could you share some code please?

[2020-04-07 12:30] jaapbakker88 commented on #198
@DamonOehlman this issue should be fixed in version 0.11.7, let me know if that works for you.

[2020-04-07 12:41] siddharthJadhav commented on #197
Ok got it thank you.

[2020-04-07 22:55] DamonOehlman commented on #198
@jaapbakker88 Yep, that fixed that issue.  There is one more that I just noticed as well (apologies that I missed it the first time around), but the `additionalTextareaProps` on the `<MessageInput>` is also marked as required from a typedef perspective.  Not sure if this is by design or not.  That's an easy one for me to work around though by passing an empty object and I've done that and we are n

[2020-04-08 07:30] jaapbakker88 commented on #198
@DamonOehlman Thanks, I'll look into that. We're currently converting our whole library to TS so that should make it easier for us to catch these types of issues, but please point them out whenever you see them!

[2020-04-10 08:04] siddharthJadhav opened #203 "Recent chat is not updated sometimes when creating a group chat"
Hello,

I am creating React js PWA using Getstream.

When I create a group chats rapidly. Sometimes group chat is created but that channel is not showing in the recent chat list until I refresh the chat.

following code which I used to create a group chat

`  const customeObject = {
    members: ['1','2'],
    name: 'TestGroup'
  };`
`const channelId = 'testChannel';`
`chatClient.channel('messagin

[2020-04-10 08:15] Darapsas opened #204 "Your example doesn't properly work"
Using typescript and "stream-chat-react": "0.11.10". Getting this error when trying to start your example code:

![20200410_111109](https://user-images.githubusercontent.com/20926795/78975075-0451ec80-7b1c-11ea-8eb6-e154bed53155.png)

For now I have just changed your index.d.ts 906th line to this:
![image](https://user-images.githubusercontent.com/20926795/78975265-6b6fa100-7b1c-11ea-8368-35a4f81d

[2020-04-10 08:38] vishalnarkhede commented on #204
Thanks for bringing it up @Darapsas . We will fix it in next release :)

[2020-04-10 09:18] siddharthJadhav opened #205 "Flag and Mute command is not working"
Hello,

I am creating React js PWA using Getstream.

When I try to mute particulate  user by typing in the text input
`/mute @username`

it throws an error "invalid mute cmd. please specify a valid user"

And when I try to add a particular flag by typing in the text input
`/flag @username`

It's not working.

Can you tell me how do I solve this issue?

[2020-04-10 14:59] siddharthJadhav opened #206 "Getting multiple time message.new event"
Hello,

I am creating React js PWA using Getstream.

I want to show a push notification when I received a new message. But I got `message.new` event multiple times.

following code I am using to listen to the new message event
`channel.on('message.new', (event) => {
     console.log('new message', event);
  });`

Even I am unsubscribing all the event when the component is unmounted
`componentWillU

[2020-04-10 15:06] siddharthJadhav commented on #197
@vishalnarkhede  I am trying to read `activeChannel` inside `MyChannelPreview`  component.
`props.activeChannel`

But I get `{}`.

[2020-04-11 09:37] iamacatperson opened #207 "`watch_count` seems to be not updating properly"
I am facing two issues with `watch_count`.

1. Using the react `<MessageHeader>` component, when a new member joins, the `watch_count` value only updates when the new member has typed something in the channel. It doesn't update automatically when a new member joins.
2. `watcher_count` (in `const { watcher_count } = this.channel.state`) returns `0` if used outside the `<Chat>` component.

Please se

[2020-04-13 14:44] siddharthJadhav commented on #206
any update?

[2020-04-13 14:45] siddharthJadhav commented on #205
any update?

[2020-04-13 14:45] siddharthJadhav commented on #197
any update?

[2020-04-13 21:06] vishalnarkhede commented on #206
Hey @siddharthJadhav you got the multiple events for same message? Could you please paste here the event log with message id?

[2020-04-14 01:45] charltongroves opened #208 "Combined queries using '$or' ignoring different permissions for different types"
Hey,

I have a page that queries all channels for a user, the query looks like this
[code]

type noticeBoard and public have permissions set up so that even if the user is not in the channels, they can still see them (ie, ReadChannel)

however, when combined like this in a query, it is only showing the noticeboard and public channels that they have created or are a part of (ie, it is not showing t

[2020-04-14 04:59] siddharthJadhav commented on #206
@vishalnarkhede  Yes, I got the same message multiple times.

Following the response, I got multiple time

`{
  "type": "message.new",
  "cid": "messaging:!members-ePKcufQ5heJ_bE9xoNmIszTgKwNA7OKl-u5_VrDofqk",
  "message": {
    "id": "1017-6d01824d-658f-4c27-ada8-825b6248d515",
    "text": "hiii",
    "html": "<p>hiii</p>\n",
    "type": "regular",
    "user": {
      "id": "1017",
      "role":

[2020-04-14 07:35] vishalnarkhede commented on #205
Hey @siddharthJadhav this is a bug. I will look into it today. Thanks for brining this up :)

[2020-04-14 08:06] vishalnarkhede commented on #197
Hey @siddharthJadhav can you please share your code of ChannelList?

[2020-04-14 19:43] hansy commented on #196
I'm having the same issue, but also with the `blueimp-load-image` module. In this case, `document is not defined`. I'm using static site generation with Gatsby.js, but the build phase errors out here.

[2020-04-15 04:11] siddharthJadhav commented on #203
any update?

[2020-04-15 05:31] siddharthJadhav commented on #197
@vishalnarkhede  Bellow is my channel preview component

import React, { Component } from 'react';
import "./MyChannelPreview.css";
export class MyChannelPreview extends Component {

   constructor(props){
      super(props);

      this.state = {
        name: this.props.channel.data.name,
        lastMeaasge: this.props.latestMessage,
        unreadCount: unreadCount,
        activeChannel: prop

[2020-04-15 10:45] khanilov opened #209 "Permission denied when trying to push branch for PR"
Is it possible to make a PR for you?
Want to create a little PR for types.

[2020-04-15 11:03] ferhatelmas commented on #209
Sure, please make a fork and send a PR from it.

See https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request how to do it.

[2020-04-15 11:03] #209 closed

[2020-04-15 14:16] vishalnarkhede commented on #208
Hey @charltongroves , could you please send your app_id on support@getstream.io? We will investigate and get back to you!!

[2020-04-16 07:00] alexlopezit commented on #190
Would also love this, so we could also use any font we choose

[2020-04-16 11:40] vishalnarkhede commented on #196
Hey @hansy @ingara you can disable the SSR for chat components. e.g,
[code]

[2020-04-16 11:50] ingara commented on #196
@vishalnarkhede Yes, that is what I'm doing as a workaround at the moment. It would be great not having to do that though, as it feels hacky and is confusing to newcomers to the library.

[2020-04-16 15:47] vishalnarkhede commented on #203
Hey @siddharthJadhav by 'rapidly', do you mean via script?

[2020-04-16 15:50] hansy commented on #196
Agree with @ingara. I've been doing something equally hacky with dynamic imports a la:

[code]

[2020-04-16 16:22] iamacatperson commented on #207
Any update on this?

[2020-04-16 16:40] vishalnarkhede commented on #207
@iamacatperson you should move chat initialization logic to `async componentDidMount`!!

[code]

**NOTE** I haven't exactly tested the code, but you get the idea I suppose :)

[2020-04-16 16:51] vishalnarkhede commented on #196
@ingara @hansy I can understand why it feels hacky. But rendering chat on serverside itself doesn't make much sense. Even if we make changes to somehow handle the issue of visibilityjs or document being unavailable - you will still need to establish the websocket connection and then query channels or channel on client side (which is pretty much the gist of chat application).

What do you think?

_

[2020-04-16 16:52] vishalnarkhede commented on #206
@siddharthJadhav I can't think of any reason why this should happen. Can you please share your code? Feel free to post it here in comment or send it to support@getstream.io

[2020-04-16 16:54] vishalnarkhede commented on #197
@siddharthJadhav can you please also add <ChannelList> component code?

[2020-04-16 18:08] iamacatperson commented on #207
@vishalnarkhede I tried the above implementation and it solves the issue with `watcher_count` value showing up as `0`. I can now see the actual value on page load. However, the watcher count still doesn't update automatically whenever a new user / member joins the channel. The person needs to type something on the chat first, then the `watcher_count` updates.

As you can see, I have this implement

[2020-04-16 18:58] JJ-Kidd opened #212 "Feature request: Chat NavOpen prop"
Can you please add the ability to accept navOpen as a prop on the Chat component. By default this is set to true in the state. Overriding it was a little fiddly and not very clean, it would be much nicer if I could just override this by default instead of managing my own state and setting a timeout. Please see an example of what I have and my suggestion below

[code]

[code]

[2020-04-16 19:15] davinchee opened #213 "actionsEnabled is not switching from false to true inside thread"
Hi, I am currently trying to do something once actionsEnabled switches from false to true, however for whatever reason this is not happening inside the thread. It does outside perfectly though.

[2020-04-17 04:39] siddharthJadhav commented on #206
@vishalnarkhede  Bellow is my channel preview component where I get multiple notifications

import React, { Component } from 'react';
import "./MyChannelPreview.css";
export class MyChannelPreview extends Component {

   constructor(props){
      super(props);

      this.state = {
        name: this.props.channel.data.name,
        lastMeaasge: this.props.latestMessage,
        unreadCount: unrea

[2020-04-17 04:44] siddharthJadhav commented on #203
@vishalnarkhede  No, I am creating a group manually. I am creating 10 groups one by one. And that time one of the groups is not reflected in the recent chat list.

And I will see that group when I refresh the chat.

[2020-04-17 04:44] siddharthJadhav commented on #197
@vishalnarkhede  Which component code you want?

[2020-04-17 05:38] iamacatperson commented on #207
I also do not understand this part in the docs under "Watcher Count" (seems to have been updated recently):

[code]

I am getting `Unhandled Rejection (TypeError): Cannot read property 'channel' of undefined`. There seems to be no `shared` prop in client object. And also the `let subscription` part seems to have typo?

[2020-04-17 07:01] vishalnarkhede commented on #207
let subscription = channel.subscribeToWatcherCount { count in
    // handle count
}
// Cancel subscription when you want to stop receiving events
subscription.cancel()

@iamacatperson this is part of swift doc. Apologies for confusion, we will fix that asap. Please don't use it for js.

This is expected since react component is not aware of changes inside channel object. So you need to explicitly

[2020-04-17 07:07] vishalnarkhede commented on #213
@davinchee can you please share a bit of code? Its hard understand the exact issue from the description :)

[2020-04-17 07:07] vishalnarkhede commented on #197
@siddharthJadhav pardon me. `ChannelList`* component code!!

[2020-04-17 07:09] vishalnarkhede commented on #203
@siddharthJadhav Are you able to reproduce this issue every time?

[2020-04-17 07:19] vishalnarkhede commented on #204
@Darapsas I have published a patch for this - `v0.11.12`.

[2020-04-17 07:39] ingara commented on #196
Oops, misclicked the close button, sorry.

I totally agree that rendering the chat server-side doesn't make sense, but having this limitation (not being able to reference any module that directly or transitively imports something from `stream-chat-react`) does make structuring the code harder.

For instance, I need to display a badge with the count of unread chat messages in our menu. The menu its

[2020-04-17 08:12] iamacatperson commented on #207
@vishalnarkhede The watcher count still remains unchanged when I console.log the channel state on presence change.

[code]
Is there any other way?

[2020-04-17 08:45] vishalnarkhede commented on #207
Hey @iamacatperson I missed one thing in my last reply (sorry for that)

Actually you are using wrong event for watcher_count.  `user.presence.changed` event means, some user has established a websocket connection. It doesn't mean he has started watching a channel.

To check for watch, you need `user.watching.start` event:
So for your case, it would be

[code]

[2020-04-17 08:48] vishalnarkhede commented on #207
`watcher_count` is the number of users who are currently watching the particular channel. Its a subset of number of members who are currently online :)

[2020-04-17 09:15] vishalnarkhede commented on #196
@ingara fair enough.

I will keep this issue open for now. I will try (within next couple of weeks) to look into dependencies that are causing this issue and see if we can offer some solution OOTB.

[2020-04-17 10:49] iamacatperson commented on #207
@vishalnarkhede I tried adding:

[code]
...And the event is never triggered / logged when someone joins. What part of the code actually triggers a user watch event? Am I missing that in my code (in my first post)?

[2020-04-17 10:54] vishalnarkhede commented on #207
@iamacatperson this event gets triggered when user on other end does `channel.watch()`

[2020-04-17 10:57] iamacatperson commented on #207
@vishalnarkhede Yes, I have that in `componentDidMount()`.

[code]
Still the watch event is not triggered. What else could be the issue?

[2020-04-17 11:06] vishalnarkhede commented on #207
Can you check your chat config on stream dashboard?

<img width="1569" alt="Screenshot 2020-04-17 at 13 05 56" src="https://user-images.githubusercontent.com/11586388/79562985-33cca000-80ac-11ea-99f5-c3e4511cda1d.png">

[2020-04-17 11:13] vishalnarkhede commented on #207
@iamacatperson missed an important thing here. You need to request presence explicitly

[code]

[2020-04-17 11:19] iamacatperson commented on #207
It finally worked. 👍

I haven't added the `({ presence: true });` yet but previously "Search" and "Connect Events" were off. I didn't occur to me that it's a 'connection' event. Thanks a lot @vishalnarkhede.

[2020-04-17 11:20] vishalnarkhede commented on #207
@iamacatperson glad that it worked :)

[2020-04-17 11:21] #207 closed

[2020-04-17 11:25] iamacatperson commented on #207
Yeah I think it'd be good to add in the documentation to make sure 'connection events' are turned on in the settings. That was the only missing piece, I think.

[2020-04-21 05:55] iamacatperson opened #217 "Channel's "watchers" is empty even if "watchers_count" is more than 0"
This is related to the issue I posted last time at: #207

I have the same code as per the last amendments on the above issue. However, this time I am looking at the channel's "watchers" attribute because I realised I cannot just query the users as it will show all 'online' users regardless of which channel they're at. I need to know the users watching a particular channel.

As you can see below, i

[2020-04-21 11:17] vishalnarkhede commented on #217
Hey @iamacatperson you will explicitly need to request for watchers.

`channel.watch{ watchers:{ limit:10 }}`

Example given here - https://getstream.io/chat/docs/channel_pagination/?language=js

[2020-04-21 15:06] iamacatperson commented on #217
@vishalnarkhede Okay thanks that works, however when I increase the offset value to more than `0`, the watchers array is not returned.

Like here, I created another function to query the list of watchers like so:

[code]
Just to test, I hardcoded the `limit` and `offset` values first. At this time there are 4 watchers in the channel. If I change the limit (and keep offset to `0`), the response ret

[2020-04-21 18:27] ilionic commented on #206
Came across this as well, but Typescript was helpful indicating:
[code]
So `channel.off()` wasn't working and expecting to pass event name and callback.
Works fine after that. CC @siddharthJadhav

[2020-04-22 09:21] #204 closed

[2020-04-22 12:08] #177 closed

[2020-04-22 12:09] jaapbakker88 commented on #167
@jamesdbxt did you manage to resolve this issue and can we close this issue?

[2020-04-22 12:12] #198 closed

[2020-04-22 12:27] vishalnarkhede commented on #206
Thanks @ilionic . That makes sense, I missed this part from the code that @siddharthJadhav mentioned here.

@siddharthJadhav you need to use `channel.off('message.new')` instead of `channel.off()` while unsubscribing.

Hopefully that will solve the issue :)

[2020-04-22 12:29] vishalnarkhede commented on #217
Hey @iamacatperson looks like there is an issue with watcher's pagination. I will check with out backend team on some estimate regarding when it can be fixed and get back to you. Is it a complete blocker for you?

[2020-04-22 12:31] vishalnarkhede commented on #99
@DanC5 can you share some screenshot? I am not sure what you mean exactly

[2020-04-22 12:36] vishalnarkhede commented on #192
@iamacatperson I guess this question was resolved in https://github.com/GetStream/stream-chat-react/issues/207. So closing it for now. Please reopen if you have any more question!

[2020-04-22 12:36] #192 closed

[2020-04-22 12:44] vishalnarkhede commented on #176
@leogoesger we have updated the docs. Closing this for now ... If you have any more followup questions, please feel free to reopen.

[2020-04-22 12:44] #176 closed

[2020-04-22 12:56] DanC5 commented on #99
<img width="270" alt="Screen Shot 2020-04-22 at 6 54 34 AM" src="https://user-images.githubusercontent.com/43552931/79984337-3e998300-8466-11ea-8399-cadecb9e35fb.png">

@vishalnarkhede so being able to display thread users' avatars in the MessageList like in Slack

[2020-04-22 12:56] #20 closed

[2020-04-22 12:58] vishalnarkhede commented on #99
Yeah that needs some backend change. Not sure how easy is it to add information of users which are part of thread in a particular message. @tbarbugli ?

[2020-04-22 14:32] iamacatperson commented on #217
@vishalnarkhede It's not a complete blocker for now (I can use the old method first) but hopefully, it can be fixed soon. Thank you!

[2020-04-23 01:45] jamesdbxt commented on #167
@jaapbakker88 yes you may close this issue, we have resolved this behaviour on our end. Thank you for following up.

[2020-04-23 06:20] #167 closed

[2020-04-24 01:14] iamacatperson commented on #217
@vishalnarkhede Is there any estimate when it will be fixed though?

[2020-04-26 14:53] siddharthJadhav commented on #197
@vishalnarkhede  I am using the default code for the channels list. I am only customizing the channel preview.

[2020-04-26 14:54] siddharthJadhav commented on #206
@vishalnarkhede  Thnank you. Its work.

[2020-04-26 14:54] #206 closed

[2020-04-26 14:56] siddharthJadhav commented on #203
@vishalnarkhede  No its happen some time.

[2020-05-06 14:46] kjacques opened #237 "Component crashing due to undefined items"
Hello,

since the version 0.11.16, we are having issues with the chat room component where sometimes it just crash the whole component trying to read an id on an undefined items.

The problems seems to come from this PR : https://github.com/GetStream/stream-chat-react/commit/324a6f637034f5375b369139a37820f4960bd02a

the filter can return undefined items and then when it goes to this code portion i

[2020-05-06 20:12] tomas-c opened #238 "Invalid CSS generated"
[This line](https://github.com/GetStream/stream-chat-react/blob/78c027bfcbfc3d3516461262c1513f245b7c07b0/src/styles/MessageTeam.scss#L57
) leads to the following invalid CSS to be generated:

[code]

( line 4174 in node_modules/stream-chat-react/dist/css/index.css of version  v0.11.17 )

Wanted to create a PR to fix it but not sure the original intention of that line.

[2020-05-07 08:27] jaapbakker88 commented on #237
@kjacques we're looking into this, can you share the error message you're getting when the app crashes and in which specific case it happens.

[2020-05-07 14:34] kjacques commented on #237
@jaapbakker88 Here is the error we have in the consolewhen the problem happens:
![image](https://user-images.githubusercontent.com/23341835/81307089-3b99b780-904e-11ea-8291-21712676da0f.png)

For the specific case, it looks like its bound to readBy message.

[2020-05-08 09:32] jaapbakker88 commented on #237
@kjacques we just released version `0.12.0` which includes a fix for this issue. Please let me know if it's resolved for you.

[2020-05-08 09:32] jaapbakker88 commented on #238
@tomas-c this should be resolved in `0.12.0`

[2020-05-08 11:54] kjacques commented on #237
@jaapbakker88 It actually fixes things but break in another place:

![image](https://user-images.githubusercontent.com/23341835/81403317-1ca82d80-9101-11ea-8258-4fafb471e98d.png)

[2020-05-08 13:24] jaapbakker88 commented on #237
could you email us at support@getstream.io, I'd like to run some tests to make sure this won't happen anymore. Can you share:
- user_id
- api key
- channel type and id

[2020-05-08 14:02] kjacques commented on #237
@jaapbakker88 just to be sure what do you mean by user_id ?

[2020-05-11 00:17] sir-dunxalot opened #253 "MessageList documentation missing"
In [the generated documentation](https://getstream.github.io/stream-chat-react/), the `MessageList` component's documentation is missing. You can see this issue by [following this direct link](https://getstream.github.io/stream-chat-react/#messagelist), which shows the `MessageList` documentation replaced by a `Center` component:

![image](https://user-images.githubusercontent.com/4495352/81514127

[2020-05-11 07:01] jaapbakker88 commented on #237
@kjacques the user_id of the user connected to the client when this error happens

[2020-05-11 09:39] #253 closed

[2020-05-12 05:34] alexlopezit opened #261 "types for setActiveChannel"
Hi there,

I'm wondering if the type definitions for [setActiveChannel](https://github.com/GetStream/stream-chat-react/blob/afe9a4279d1117fae3f4253264dd5c7bab61b21e/types/index.d.ts#L14) probably needs to be updated

The current interface definition is:
`setActiveChannel?(channel: Client.Channel, **event: React.SyntheticEvent**): void;`

But I think the second parameter should be optional and a di

[2020-05-12 10:13] #190 closed

[2020-05-12 10:24] #238 closed

[2020-05-13 05:44] DamonOehlman commented on #261
Another type definition issue in the recent releases:

[code]

Thought about creating a separate issue, but I think it's probably easiest if I add it here as I expect they will be cleaned up at the same time.

[2020-05-13 07:16] jaapbakker88 commented on #122
Going to close this ticket. This should be resolved.

[2020-05-13 07:16] #122 closed

[2020-05-13 07:19] jaapbakker88 commented on #98
This seems to be fixed, closing this issue.

[2020-05-13 07:19] #98 closed

[2020-05-13 07:20] jaapbakker88 commented on #78
This issue was fixed in a recent release, closing this ticket.

[2020-05-13 07:20] #78 closed

[2020-05-13 07:21] jaapbakker88 commented on #82
Closing this ticket due to inactivity.

[2020-05-13 07:21] #82 closed

[2020-05-13 07:21] #89 closed

[2020-05-13 07:21] #96 closed

[2020-05-13 07:22] jaapbakker88 commented on #128
@volodymyr-manko we've started work on this feature. Will update you here if we have more to report.

[2020-05-13 07:39] jaapbakker88 commented on #153
@josephto closing this issue due to inactivity. Please reopen if you need more information.

[2020-05-14 19:46] reujwils opened #274 "Project using v0.12.2 Fails to Compile"
I just started integrating GetStream into my app.  Once I import the css index like this:

import 'stream-chat-react/dist/css/index.css';

I get the following compilation error:

./node_modules/stream-chat-react/dist/css/index.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./node_modules/stream-chat-react/dist/css/index.css)
Module not found

[2020-05-15 05:19] volodymyr-manko commented on #128
Thanks :)

[2020-05-15 07:15] #274 closed

[2020-05-15 15:29] vicnicius commented on #274
Hello, @reujwils. Thanks for reporting this issue. The 1.0 release we did today should have the fix. You'll find more information about this new version [here](https://github.com/GetStream/stream-chat-react/blob/master/CHANGELOG.md#100-2020-05-15).

Feel free to reopen this or open a new issue if you face other problems.

[2020-05-15 16:13] khanilov opened #278 "Typescript build fails after mutes prop becomes required"
Commit 6ac325a introduced typescript build errors:

[code]

Such errors happen for `Channel`, `MessageList` and `Message` components.

[2020-05-15 16:15] khanilov commented on #278
Created PR: https://github.com/GetStream/stream-chat-react/pull/277

[2020-05-17 23:26] alexlopezit commented on #278
Nice one, I got this and had to add and empty array `mutes={ [] }` so it did not break

[2020-05-17 23:48] alexlopezit opened #279 "Channels reloading from failing request"
We are currently using teams, and most of the time when switching from one channel to another it keeps refreshing.

The problem is a constant failing request returning 401.

`https://chat-us-east-1.stream-io-api.com/channels/messaging/e6a49dbf-3bfc-4163-872e-8d3534a2e30d/query?user_id=00010e42-8a60-45f2-be6e-4dda93c8683d&api_key=xxxxxxxxxx&connection_id=eef563c1-5bbd-434c-94f3-6eb7fe9ad26c`

The p

[2020-05-18 06:56] #278 closed

[2020-05-18 08:16] khanilov opened #280 "Option to disable react and reply message buttons"
- components: `MessageList` and `Message`
- stream-chat-react version `0.11.18`
- import method `es`
- react version `16.3.1`

### What is happening?
There are no option to disable reply and react buttons in Message component.

### What should be happening?
Add reply and react options to `messageActions`, in order to control this two features.

[2020-05-18 09:32] jaapbakker88 commented on #280
@khanilov you can disable these features on the Stream dashboard, this should hide the options from the component.

[2020-05-18 09:34] jaapbakker88 commented on #279
@alexlopezit what do you mean by:

[2020-05-18 09:40] jaapbakker88 commented on #261
@DamonOehlman @alexlopezit these issues should be fixed in v1.0.0. Remember we started using hooks so minimum react version is now v16.8.x

[2020-05-18 09:40] #261 closed

[2020-05-18 11:05] alexlopezit commented on #279
@jaapbakker88 "Multi-Tenant & Teams"

[2020-05-18 11:46] jaapbakker88 commented on #279
@alexlopezit confirmed this bug, we're looking into it.

[2020-05-18 14:42] khanilov commented on #280
@jaapbakker88 I was told, that in dashboard it's only possible to disable options completely.
In our case we need to disable react & reply depending on some conditions, like user role.

[2020-05-18 18:59] jaapbakker88 commented on #279
@alexlopezit this issue should be fixed on our backend. Can you confirm if it's working now?

[2020-05-18 21:04] alexlopezit commented on #261
Thanks @jaapbakker88

[2020-05-18 22:22] alexlopezit commented on #279
Thanks @jaapbakker88 , trying it know and seems I am not getting the channel refresh again.

[2020-05-18 22:22] #279 closed

[2020-05-19 01:32] DamonOehlman opened #282 "MessageInput errorHandler prop not exposed in types or docs"
Within the `<MessageInput>` component, there are a couple of call sites which reference `this.props.errorHandler`.  Unfortunately, if an error does occur, it's quite likely that this isn't set and thus causes an error itself.

![no-error-handler](https://user-images.githubusercontent.com/609693/82274292-1b111c00-99c3-11ea-8d4d-33a483d96672.png)

We hit this error because we take care of uploading

[2020-05-19 07:14] jaapbakker88 commented on #280
@khanilov alright, willl look into this.

[2020-05-19 18:31] kjacques commented on #237
@jaapbakker88 WIth the latest 1.0.1 version, seems like its fixed (Will send another ticket if we see something unusual)

thanks

[2020-05-19 18:31] #237 closed

[2020-05-19 23:46] mksglu commented on #205
I created a fresh CRA application and tried to reproduce this issue. Then yes! I have the same issue. I did not notice an issue on the front-end side. 500 error codes are returned from a URI.

* URI:
[code]
* Request Payload:
[code]
* Payload:
[code]

[2020-05-20 07:57] vishalnarkhede commented on #205
We are currently working on fixing issue with flag/mute commands. The problem is that api expects `/flag @user_id` or `/flag user_id`, but our UI sdk currently sends `/flag username` or `/flag @username`.

We are working on fixing it so that following format will work.- `/flag @username`

[2020-05-21 15:39] khanilov opened #289 "Load and focus on particular message in MessageList"
Hi.
We have to implement message search in our application.

We stacked on step when we have message object and need to open corresponding channel focused on that message.

The message may be long time ago, so besides focusing we also need to load that history chunk containing searched message.

Can you, please, give us some suggestions on how we can do it with current SDK components.
Thanks in ad

[2020-05-21 17:36] TravisHardman opened #290 "@mentions in a channel appear to only select from top 100 members"
We came across an issue where many users in a channel were not appearing in the autocomplete for @mentions. It looks like the flow works as follows:

- Channel info retrieved by a call to the "query channels" api
- Each channel has a "members" attribute with a maximum of 100 members in it
- When typing @mentions, those 100 members are the only ones who appear in the autocomplete, even if the chann

[2020-05-22 04:48] kmutlow commented on #290
It would be really handy if there was an extension point so that we could override the default @mentions user lookup behaviour. Not sure if it exists but we haven't stumbled across it thus far. An example use-case would be to @mention someone that is not currently in the channel and invite them in.

[2020-05-22 13:36] vishalnarkhede commented on #290
Hey @TravisHardman @kmutlow We are already working on the fixing this and providing API endpoint to fetch members for channel. It's currently in testing phase and will be published soon within couple of weeks. I will let you guys know once it is ready :)

[2020-05-22 13:55] khanilov opened #291 "Typescript issues with MessageSimple"
- components: `MessageSimple Prop Types`
- stream-chat-react version `1.0.1`
- react version `16.13.1`
- typescript version `3.9.2`

### What is happening?
Changes in types in 8d72c986439121ddefc0007e0ab9cb89f558f444 produce typescript errors.

### Steps to reproduce issue

1. Use Typescript
2. Try to pass `MessageSimple` as prop to `MessageList`

### Error message in console

[code]

### Code

ht

[2020-05-22 17:27] khanilov commented on #280
@jaapbakker88 is it possible to give any timetable on this feature? Thanks.

[2020-05-23 12:27] itwaze commented on #148
@tbarbugli
When i testing with example API KEY - all is good
But when i try to create a new user with my own API KEY - i see an error

[code]

[code]

[2020-05-23 12:29] itwaze opened #293 "Create a new user with API KEY from the dashboard"
When i testing with example API KEY - all is good
But when i try to create a new user with my own API KEY - i see an error

[code]

My code:

[code]

[2020-05-23 17:30] itwaze opened #294 "Custom message style"
How can I change the message style?
[code]
or
[code]
Style and ref props not working

[2020-05-24 18:20] fandy commented on #196
Got stuck on the same issue as @hansy with Next.js SSG. Wrapping the Chat component with NoSsr results in the same issue, complaining about `document is not defined` in the `blueimp-load-image`module.

[2020-05-25 06:48] vicnicius commented on #291
Hello, @khanilov, thanks for reporting this issue. I'll have a look at it today.

[2020-05-25 07:41] jaapbakker88 commented on #280
@khanilov right now we're refactoring a bunch of component and taking it on as soon as we're ready to work on the relevant components. Of course you can help, what questions do you have?

[2020-05-25 08:47] jaapbakker88 commented on #294
@itwaze this doesnt work as we don't pass the style prop down. To customize styling you want to customize the css included in the package.

[2020-05-25 08:47] jaapbakker88 commented on #293
@itwaze seems like chat is not enabled for your account. Did your chat trial expire or did you not activate it ?

[2020-05-25 08:49] itwaze commented on #294
@jaapbakker88 Ok, but how can I change the message style? Can you give an example?

[2020-05-25 14:37] khanilov opened #297 "Change default reactions preset"
Hello,
We need to replace default reaction options in Message's ReactionSelector.

This one:
![Screenshot 2020-05-25 at 17 09 23](https://user-images.githubusercontent.com/52448226/82822428-7143fa80-9eae-11ea-9804-333def3c2279.png)

[Docs](https://getstream.github.io/stream-chat-react/#reactionselector) describe `reactionOptions` prop in `ReactionSelector`, that should take care of it, but looked

[2020-05-25 16:49] #291 closed

[2020-05-26 14:34] khanilov commented on #297
Maybe you can, at least, add `ReactionSelector` and `ReactionList` to `MessageSimple` component props, with default values to current components?
Same way as done with for ex: Attachments.

It would be very handy, cause in order to change one of this two components I need to copy MessageSimple too.

[2020-05-26 15:29] jaapbakker88 commented on #297
@khanilov right now we're in the middle of refactoring these components. After that's done I'll make sure to have a look at it.

[2020-05-26 15:32] jaapbakker88 commented on #294
You can do it two ways:

- import our css that's included in the package and override the css for the classes you want to change
- or you can import the scss files from the package and manually rebuild the styles like this: https://github.com/GetStream/stream-chat-react#customizing-styles

[2020-05-29 12:55] #212 closed

[2020-06-03 23:24] alexlopezit opened #310 "Large vertical images are not displayed correctly"
Currently when we upload vertical images and click to view, parts of the image are hidden and can't see the full image.

[2020-06-04 01:56] alexlopezit opened #311 "TypeError: Cannot read property 'indexOf' of undefined"
[code]

Looks like `mime_type` is undefined for some reason, I just pasted a link to a page from our application in to a channel and got the error, tried to replicate on https://getstream.github.io/stream-chat-react/#channel but could not get the same result.

[2020-06-04 04:07] alexlopezit opened #312 "Channel 'unread' count does not update on correctly"
Looks like the is an issue updating unread counts on channels that have not been preloaded.

Setup:

- Have 3 channels #a, #b, #c
- Load only 2 channels
[code]

- Now login with 2 users (**User 1 and User 2**) on different browsers, they must be members of the mentioned channels.
- With **User 2**, type something on channel #c the reload the browser to make sure that channel is displayed
-  After

[2020-06-04 08:21] jaapbakker88 commented on #310
@alexlopezit we're aware of this issue and working on a fix for this!

[2020-06-04 08:22] jaapbakker88 commented on #205
@siddharthJadhav this issue should be fix. Remember that the flag actions works on messages not users. /mute and /ban should work.

[2020-06-04 08:44] jaapbakker88 commented on #311
@alexlopezit what version are you on, I think this issue was fixed in a recent release.

[2020-06-05 00:58] alexlopezit commented on #311
Thanks @jaapbakker88 , we where using version 1.0.0 updating to 1.0.1 solved it

[2020-06-05 00:58] #311 closed

[2020-06-08 08:03] #205 closed

[2020-06-09 01:05] DamonOehlman commented on #282
Looks like d3336ea27d0b9ec4e4c7081333c9ee88c5fb9b78 fixes this.  Is this correct?

[2020-06-09 07:36] jaapbakker88 commented on #282
@DamonOehlman this is correct!

[2020-06-10 03:13] alexlopezit commented on #312
Hi @jaapbakker88 sure, I am currently using version stream-chat-react v1.0.1

This is how the component looks in the code:

[code]

Here is a screen recording of what I am experiencing for better understanding https://drive.google.com/file/d/1-LLdG-HYGtJDgvi2vZXKqse6SxT8jTWZ/view?usp=sharing

[2020-06-10 04:47] alexlopezit commented on #310
Great, thank you

[2020-06-15 23:29] #282 closed

[2020-06-16 15:16] bignoggins commented on #149
any update on this? Would love to see an option to asynchronously load the emoji-mart JSON file as well aka

[2020-06-16 15:18] jaapbakker88 commented on #149
@bignoggins it's in our backlog currently, we've taken some time to explore some options but no resolution yet.

[2020-06-16 16:15] bignoggins commented on #149
Ok thanks

On Tue, Jun 16, 2020 at 9:18 AM jaapbakker88 <notifications@github.com>
wrote:

[2020-06-16 22:49] bluetoken-luke opened #354 "Typescript Issues with t and tDateTimeParser"
We are suddenly experiencing typescript errors with code that has been in place an untouched for some time.  It appears that suddenly the Channel component and MessageList component require the props t and tDateTimeParser.

![image](https://user-images.githubusercontent.com/49762288/84835488-54a46980-aff9-11ea-8644-12e9b4b69781.png)

![image](https://user-images.githubusercontent.com/49762288/8483

[2020-06-17 00:17] DamonOehlman commented on #354
Also having this problem.  Looks it was introduced in 17f49a84444a2072b80becabd345d75ed643f64a when the properties on the `TranslationContextValue` interface were marked as required.

[2020-06-17 08:41] jaapbakker88 commented on #354
@bluetoken-luke @DamonOehlman we've released a fix on v1.2.1 for this issue. We're still in the progress of tightening up our types system so this won't happen again.

[2020-06-17 10:35] DamonOehlman commented on #354
Thanks @jaapbakker88 - just did the upgrade to `1.2.1` and I can confirm that it all builds nicely now :)

[2020-06-17 11:00] #354 closed

[2020-06-19 06:13] alexlopezit commented on #312
Also just noticed that when we send a `/giphy`, to channel count gets increased, but the `total_unread_count` does not, so the count does not match for this reason as well.

[2020-06-19 12:01] vicnicius commented on #290
Since [1.2.0](https://github.com/GetStream/stream-chat-react/blob/master/CHANGELOG.md#120-2020-06-16) mentions will now use the `queryMembers` endpoint if the channel has more than 100 members.

[2020-06-19 12:01] #290 closed

[2020-06-22 10:49] jaapbakker88 commented on #312
@alexlopezit just reproduced the error on my side as well. Will investigate why this is happening!

[2020-06-22 15:10] jaapbakker88 commented on #312
@alexlopezit I found the issue and fixed it on version `1.2.2`. Regarding the /giphy issue, this seems to be an issue on the backend and I've notified the backend team about it.

[2020-06-23 07:53] #73 closed

[2020-06-23 07:53] #99 closed

[2020-06-23 07:53] #100 closed

[2020-06-23 07:54] #39 closed

[2020-06-23 07:56] #312 closed

[2020-06-23 07:57] #294 closed

[2020-06-23 07:58] tbarbugli commented on #213
@davinchee ping

[2020-06-23 07:58] #293 closed

[2020-06-25 23:45] alexlopezit opened #378 "ChannelList lockChannelOrder type missing"
Currently using "stream-chat-react": "1.2.2"

"lockChannelOrder" type is missing from "ChannelListProps"

cc @tbarbugli

[2020-06-26 09:07] jaapbakker88 commented on #378
@alexlopezit I just made a release with this type added to ChannelListProps. It's on `v1.2.3`.

[2020-06-26 11:06] jaapbakker88 commented on #310
@alexlopezit just released version `1.2.4` which should fix this issue.

[2020-06-26 18:09] #213 closed

[2020-06-29 05:44] alexlopezit commented on #378
Awesome, thanks @jaapbakker88

[2020-06-29 05:44] #378 closed

[2020-06-29 05:47] alexlopezit opened #382 "Allow to pass a custom LoadingIndicator to MessageList"
As some of the other component allow to pass a custom loading indicator, would be good to also allow it for the `MessageList` for UI consistency

cc @tbarbugli

[2020-06-29 06:57] jaapbakker88 commented on #382
@alexlopezit thanks for the suggestion. Will try to get that in this week.

[2020-06-29 14:01] plandem opened #384 "can you make it possible to provide MessageUpdate?"
Right now we can provide component for a new message via MessageInput, but it's not possible to provide a MessageUpdate, since it's hardcoded inside of all these MessageSimple/MessageLivestream and etc.

[2020-06-29 14:04] plandem opened #385 "How to make components aware of features?"
I.e. we don't need attachments, but we can't remove this button in message input's or action bar

[2020-06-29 14:13] jaapbakker88 commented on #385
@plandem right now we don't support this, but it's in our backlog. Please keep an eye out on this repo to see when we launch this.

What you could do as a temporary fix is set maxNumberOfUploads to 0 and hide the button with css.

[2020-06-29 14:15] jaapbakker88 commented on #384
@plandem, do you mean the MessageInput for editing messages is not overridable?

[2020-06-29 14:33] plandem commented on #385
I tried, but button was still visible. It was disabled, but visible!

[2020-06-29 14:34] plandem commented on #385
oh, sorry. missed that I have to update styles also!

[2020-06-29 14:37] plandem commented on #384
yes. E.g. it's hardcoded here:
https://github.com/GetStream/stream-chat-react/blob/8514804c9af8c9755f0e1a7620a8efab7feb80fc/src/components/Message/MessageLivestream.js#L375

[2020-06-29 14:39] plandem commented on #384
[code]
also `dateSeparator` is kinda not consistent with other names for passing components like `Message`, `Input` and etc. It's `camelCase`.

[2020-06-29 18:00] jaapbakker88 commented on #384
@plandem right now we don't support this, but I'll add it to the backlog as well. As the naming convention goes, you're right, we'll update it soon and will deprecate this old one.

[2020-06-30 03:43] shodgetts opened #387 "testing gitzen"
hellooooooo

[2020-06-30 03:52] #387 closed

[2020-06-30 07:44] #382 closed

[2020-06-30 07:50] jaapbakker88 commented on #382
@alexlopezit added the LoadingIndicator prop to MessageList in `v1.2.5`

[2020-06-30 19:04] shodgetts opened #392 "Stephen testing again"
Sorrrryyyyy

[2020-07-01 00:30] plandem opened #393 "check for event in handleDelete"
https://github.com/GetStream/stream-chat-react/blob/f89b2364199ca3490ca347d9d6cd953546ac9c4c/src/components/Message/Message.js#L324

all actions should behave in same way for consistency, e.g. like in `handleEdit`

[2020-07-01 00:39] plandem opened #394 "do not show dateSeparator if all messages were deleted for that day"
Right now we will see a date separator for a day if it ha only deleted messages. I believe it's a bad experience for user to get such spam, because it will not be clear why one day has a separator and other has not (e.g. no any message for that day at all).

From UI it should be equal (at least with fresh reload page): `no messages for particular day` == `all messages were deleted for particular d

[2020-07-01 00:52] plandem opened #395 "custom fields for message?"
`stream-js` allows to use custom fields for message. How to add custom fields using your react SDK? From fast scanning mode it looks like you totally rid off that functionality. Am I right (hope note, but need a help in that case)?!

[2020-07-01 07:18] jaapbakker88 commented on #394
@plandem, we're currently refactoring some of our components, this issue is know to us and we're looking into fixing it.

[2020-07-01 07:19] jaapbakker88 commented on #395
@plandem I think you mean `stream-chat-js` and yes our components do not use the functionality of custom fields. If you want this, you would have to write your own MessageInput component, which is totally doable.

[2020-07-01 07:21] jaapbakker88 commented on #393
Please elaborate on this

[2020-07-01 17:28] plandem commented on #393
here you check for an event:
https://github.com/GetStream/stream-chat-react/blob/f89b2364199ca3490ca347d9d6cd953546ac9c4c/src/components/Message/Message.js#L315

but here you dont and just call `preventDefaults`:
https://github.com/GetStream/stream-chat-react/blob/f89b2364199ca3490ca347d9d6cd953546ac9c4c/src/components/Message/Message.js#L324

it's not consistent behaviour, since both handlers - a

[2020-07-01 17:39] plandem commented on #395
Well, while it's true that I could write own MessageInput, but e.g. we already had to rid off 80-90% of these react components and created own because we can't customize/remove/add something here. I would say more - this SDK is toooo coupled and hardcoded and hardly to customize at all. Even for simple cases like MessageInput.

e.g.:

this one way is hardly to customize, I have to create own compo

[2020-07-02 08:31] jaapbakker88 commented on #395
What exactly do you want to do? Because you could do something like if you know what fields you want to add to the component:
[code]

and then add it to our MessageInput as a custom component:

[code]

But if you want to customise the look and feel of it, at some point you're going to have to write your own, there's only a certain amount of customisability we can offer out of the box.

[2020-07-02 08:47] jaapbakker88 commented on #393
@plandem thanks for elaborating, will add to the backlog of changes we need to make.

[2020-07-02 08:47] #392 closed

[2020-07-02 13:08] plandem commented on #395
and it will not work for edit/update :(

[2020-07-03 00:34] alexlopezit opened #402 "TypeError: Cannot read property 'findIndex' of undefined"
Getting the error when deleting 2 channels one after the other one

https://github.com/GetStream/stream-chat-react/blob/c8b98967ea955853955c21447d24023c732156e6/src/components/ChannelList/hooks/useChannelDeletedListener.js#L13

[2020-07-03 08:37] #83 closed

[2020-07-03 09:08] #53 closed

[2020-07-06 09:08] #310 closed

[2020-07-07 11:45] vishalnarkhede commented on #402
Hey @alexlopezit , we will fix this issue soon!! The fix is ready in this PR - https://github.com/GetStream/stream-chat-react/pull/396/files#diff-30f700884e8387a6109e17184b107a5c

[2020-07-07 19:29] brandonhall opened #421 "When will hooks be exported?"
Use Case: We want to mention users that aren't in a chat

I implemented this feature with `stream-chat-react-native` fairly easily by passing a trigger object, but passing triggers isn't supported in `stream-chat-react`. I was going to build a modified version of `MessageInputFlat` with a modified `ChatAutoComplete` in order to change the triggers, but was stopped out by the `useMessageInput` hook

[2020-07-08 11:49] jaapbakker88 commented on #421
@brandonhall right now we're in the process of refactoring and moving everything to hooks. This is still a work in progress, but end of next week we should have a release that includes these hooks so they can be used by anyone writing their own components.

I'll have to look into the triggers, but if you can wait a bit on the hook this should make it easier for you to built a custom component.

[2020-07-08 14:42] brandonhall commented on #421
Thanks for the reply @jaapbakker88. For what it's worth, I believe the ability to modify triggers would be the simplest approach.

[2020-07-08 14:49] jaapbakker88 commented on #421
@brandonhall let me look into how React Native handles it and if I can move it to the this library easily.

[2020-07-09 06:32] jiaskedulo opened #425 "The app allows you to send empty messages"
**Steps to reproduce**

1. Send a picture first
2. Press Enter key

**Actual results**
It allows you to send empty messages

<img width="1162" alt="Screen Shot 2020-07-09 at 2 38 13 pm" src="https://user-images.githubusercontent.com/56703852/87000156-b2dafb80-c1f7-11ea-8ffd-e4a6999b97dd.png">

[2020-07-09 06:35] alexlopezit commented on #425
cc @tbarbugli

[2020-07-09 07:26] jaapbakker88 commented on #425
@alexlopezit @jiaskedulo thanks for your report, we're looking into this.

[2020-07-09 13:24] kind3r opened #432 "Object naming issue in browser bundle"
While trying to create a concept chat component to be embedded in an existing website, I discovered that `stream-chat-react` can't be used as an external dependecy as all the objects are exported to the global namespace overwriting at least one of the browser's built in objects such as [**File**](https://developer.mozilla.org/en-US/docs/Web/API/File#:~:text=A%20File%20object%20is%20a,Blob%20s%20an

[2020-07-10 15:50] shodgetts opened #438 "stephen testing again"
234

[2020-07-10 15:51] #438 closed

[2020-07-14 06:02] ntziolis commented on #83
Is it possible now to run a build on Windows or still only possible in WSL?

[2020-07-14 06:48] jaapbakker88 commented on #83
As far as I know it's still only possible on WSL

[2020-07-14 07:11] ntziolis commented on #83
Are they any plans to change that as right now it breaks or CI process.

[2020-07-14 13:08] shodgetts opened #443 "steve tests"
please work, for the love of god

[2020-07-14 13:08] shodgetts commented on #443
ffs

[2020-07-14 13:10] #443 closed

[2020-07-14 13:20] shodgetts opened #445 "test"
3245

[2020-07-14 13:21] shodgetts commented on #445
789

[2020-07-14 13:21] #445 closed

[2020-07-15 06:51] dashawk commented on #217
@vishalnarkhede I have the same issue on this.

Here is some code snippet that I use to query the watchers.
[code]
Which returns this:
![image](https://user-images.githubusercontent.com/1437205/87512377-77ce4180-c6a9-11ea-9d23-8c12eafa9add.png)

And when I set the offset to a specific value example `3`:
[code]

Which returns this:
![image](https://user-images.githubusercontent.com/1437205/87512516

[2020-07-15 08:45] kovacsmarcellcodinglab opened #447 "MessageInput disable file upoload and paste"
MessageInput disable file upoload and paste

How to solve this request?
I set up Channel props, but nothing happend:
multipleUploads?: boolean => false
acceptedFiles?: string[] => []
maxNumberOfFiles?: number => 0

I could use doFileUploadRequest, doImageUploadRequest method? How to cancel upload before insert tumbnail into textarea?
How to reach onPaste method in MessageInputUIComponentProps? I c

[2020-07-15 14:25] jaapbakker88 commented on #425
@alexlopezit @jiaskedulo we just released version 2.0.1 which should resolve this issue, let me know if it works for you.

[2020-07-15 14:26] jaapbakker88 commented on #421
@brandonhall we've just released version 2.0.1 which exports the useMessageInput hook and also allows setting autocompleteTriggers on the MessageInput components to override the triggers that come with the components. Hope that allows you to do what you want to do.

[2020-07-15 14:27] jaapbakker88 commented on #402
@alexlopezit this should be fixed in the latest release `2.0.1`

[2020-07-15 14:34] brandonhall commented on #421
@jaapbakker88 Thank you!

[2020-07-16 12:52] yangyu0311ugroop opened #451 "ChannelList sending unnecessary requests"
Hi,

I am encountering an issue the channel list component will resend the query Channel request whenever re-render occurs. Before 1.1.2 I do not have this problem, the issue occurs after the Channel list rewrites via React hooks. To be more specific, I am trying to adjust the channel list height when window resize occurs. Is there any way, I can stop the request, due to the rate-limit, if the use

[2020-07-16 13:12] shodgetts commented on #451
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4482'>Zendesk ticket #4482</a>:<br><br>Hi,

Thanks for getting in touch.
I'm passing this on to one of our React developers.
He'll get back to you shortly.

Best regards,
Seni

[2020-07-16 13:44] jaapbakker88 commented on #451
@yangyu0311ugroop can you share a bit of the code you're using to render the ChannelList, and what do you exactly mean by rerendering when you're resizing the height? How are you resizing the height? Also what version of our library are you on?

[2020-07-16 14:01] yangyu0311ugroop commented on #451
I am using a lib `ReactResizeDecetor` My goal is always to keep the chat height = window.height - header.height - menubar.height.

I have a working version using 1.0.0, which channel list is still using React PureComponent class. After the ChannelList rewrite as React hooks, I always have this problem, and now I am using 2.0.1. Still, the same issue, whenever I try to recalculate the height, the l

[2020-07-16 14:33] vishalnarkhede commented on #451
@yangyu0311ugroop we only redo `/channels` api call on filters change. Any chance, your `props.filter` changes (by reference) when you resize?

[2020-07-17 00:31] yangyu0311ugroop commented on #451
@jaapbakker88 @vishalnarkhede I don't think it has anything to do with the filter

https://github.com/ugr00p/stream-chat-react/tree/2.0.1

I fork your project and modified the example codes in messaging

https://github.com/ugr00p/stream-chat-react/blob/2.0.1/examples/messaging/src/App.js

You can see the channel request are firing endlessly until the server disconnect the client.

[2020-07-17 07:58] jaapbakker88 commented on #447
@kovacsmarcellcodinglab not sure what you want to do exactly, do you want to completely disable file uploads? Or just uploading onPaste?

[2020-07-17 08:16] kovacsmarcellcodinglab commented on #447
Hi,

I'd like to disable both of them.

Thx
Marcell

[2020-07-20 09:23] #425 closed

[2020-07-20 09:23] #421 closed

[2020-07-20 09:24] #402 closed

[2020-07-20 10:04] amardeepranu opened #456 "Type errors when building example project"
I'm getting new Typescript errors when trying to run the examples on 2.0.2:

[code]

This is the code:

[code]

[2020-07-20 10:07] jaapbakker88 commented on #456
@amardeepranu can you please give a step by step way to reproduce this. The examples included in the repository are working fine for me.

[2020-07-20 10:24] amardeepranu commented on #456
I'm just building the example project in our environment like before. Reverting back to 1.2.5 resolves these issues.

We're using rails + webpacker + typescript compilation: https://github.com/rails/webpacker/blob/master/docs/typescript.md#optional-adding-compile-time-type-checking

Here's our tsconfig.json:

[code]

The presence indicators are also behaving strangely, I'll create a separate issue

[2020-07-20 14:32] amardeepranu opened #457 "Non responsive hamburger menu"
When the browser window is shrunk a hamburger menu appears in the channel header (instead of the peaking channel list element like in your examples). This menu icon is non-responsive.

<img width="661" alt="Screen Shot 2020-07-20 at 10 30 02 AM" src="https://user-images.githubusercontent.com/7548096/87949568-30163400-ca74-11ea-9c33-105c20c7548f.png">

This is the code:

[code]

I've basically copi

[2020-07-20 14:58] jaapbakker88 commented on #457
@amardeepranu are you on v1.2.5 or the codepen examples?

[2020-07-20 15:23] amardeepranu commented on #457
v1.2.5 doesn't run on codepen unfortunately, the latest example I could run is v1.1.0 (https://cdn.jsdelivr.net/npm/stream-chat-react@1.1.0/dist/browser.full-bundle.min.js) - and this issue is reproduced there in a different way: the channel completely disappears with no hamburger menu.

Also, I can't even run v0.11.3 (the codepen version) locally because there are internal typescript errors in in

[2020-07-20 15:24] amardeepranu commented on #456
Thanks!

[2020-07-20 23:57] amardeepranu opened #459 "Stream react docs can’t be viewed on mobile"
The docs (https://getstream.github.io/stream-chat-react) are blocked by a full screen channel screen - it can’t be dismissed.

![6E1A86CE-4A21-46D5-9A7A-AF0A0563734A](https://user-images.githubusercontent.com/7548096/87997429-0fc19600-cac3-11ea-9e88-45d78d6d8850.png)

gz#4534

[2020-07-21 07:17] shodgetts commented on #459
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4534'>Zendesk ticket #4534</a>:<br><br>Hi,

Thanks for getting in touch.
I'm not sure I understood your report. Are you using React components on mobile ?
React components are for web integration, for mobile we offer React-Native, iOS and Android SDKs.

Best regards,

[2020-07-21 11:09] amardeepranu commented on #459
This is not an integration issue, its your documentation website when opened in Safari on iPhone.

To reproduce:

1. Open this url on your mobile device: https://getstream.github.io/stream-chat-react

[2020-07-21 12:13] jaapbakker88 commented on #451
@yangyu0311ugroop so we figured out the issue and will update our examples. Because your setting state on every resize we will rerender the component. And because it has some constants(`filters`, `sort`, `options` and `InfiniteScrollPaginator`) defined in the render function, these will get updated and passed down on every state change, so everything starts rerendering. You can fix it in the follo

[2020-07-21 12:31] #451 closed

[2020-07-21 12:39] #457 closed

[2020-07-21 12:47] yangyu0311ugroop commented on #451
@jaapbakker88 Thank you for the update. I think that will solve the issue in the example.
However, I have a question, let's say I want to provide my own List Component called `MyChannelListTeam`.

In that component, I have my own logic to connect the redux store by using a selector. So let's say this component will render 3 times, because of the selector, so based on my testing, the channels reque

[2020-07-21 12:51] #456 closed

[2020-07-21 12:52] yangyu0311ugroop commented on #451
hm, I just noticed that you guys added the React.memo around the channel list. Maybe that will solve the problem, I will test it and let you know.

[2020-07-21 12:54] jaapbakker88 commented on #451
@yangyu0311ugroop I'll make a new release later today which will include this change

[2020-07-21 13:05] jaapbakker88 commented on #393
Ran through the code today and don't see this as an issue. Just a result of different people working on the code. With the recent addition of typescript we actually know if the event is being passed or not. Going to close this issue.

[2020-07-21 13:05] #393 closed

[2020-07-21 13:06] jaapbakker88 commented on #432
@kind3r can you elaborate a little bit. Are you using the browser bundle? If yes, can you create an example on codepen for me to checkout?

[2020-07-21 13:09] jaapbakker88 commented on #217
@dashawk @iamacatperson this should have been resolved on our backend, I'm going to close the issue. Please let us know if anything else comes up.

[2020-07-21 13:09] #217 closed

[2020-07-21 13:10] shodgetts commented on #459
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4534'>Zendesk ticket #4534</a>:<br><br>Hello - thank you for the report. Our entire website is getting a bit of an overhaul later this year and we'll be sure to include better responsiveness on our documentation.

[2020-07-21 13:17] kind3r commented on #432
@jaapbakker88 ,

You can use any of the provided examples like https://codepen.io/team/stream/pen/pYrMJe and just change the browser bundle version to 1.2.5 (https://cdn.jsdelivr.net/npm/stream-chat-react@1.2.5/dist/browser.full-bundle.min.js)

[2020-07-21 13:20] kind3r commented on #432
You'll see it fails the following check in `seamless-immutable` used by `stream-chat`:

[code]

[2020-07-21 13:21] #459 closed

[2020-07-21 14:10] #128 closed

[2020-07-21 14:13] amardeepranu opened #464 "Missing props in ChannelListUIComponentProps"
In the documentation for the `ChanneList` https://getstream.github.io/stream-chat-react/#channellist it states the following for the `List` prop:

[code]

These are present however they are missing from the type definition:

https://github.com/GetStream/stream-chat-react/blob/53f85bf515e8bc959f44914b873abe0f8ad68b57/types/index.d.ts#L244-L267

Could you please add them? Thanks!

gz#4550

[2020-07-21 14:25] shodgetts commented on #464
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4550'>Zendesk ticket #4550</a>:<br><br>Hi,

Thanks for the report.
I'm passing this on to our React team.

Best regards,

[2020-07-21 14:30] jaapbakker88 commented on #464
They are present but you want to get them using `useContext(ChatContext)` we're slowly deprecating these props that are being passed down.

[2020-07-21 14:39] jaapbakker88 commented on #289
@khanilov right now this is not technically supported yet with our components, but we're looking into solutions to actually make this a possibility.

[2020-07-21 14:42] amardeepranu commented on #464
Sounds good - will do!

[2020-07-21 15:17] jaapbakker88 commented on #182
Closing this issue due to inactivity.

[2020-07-21 15:17] #182 closed

[2020-07-21 15:19] jaapbakker88 commented on #76
Definitely something we want to look at but right now we're adding it to the backlog of features to add.

[2020-07-21 15:19] #76 closed

[2020-07-21 15:25] jaapbakker88 commented on #129
@lr-mjaouen we now export a useMessageInput hook that lets you use all of the functionality of the MessageInput yourself, more information on that here: https://github.com/GetStream/stream-chat-react/blob/master/src/docs/MessageInputHooks.md

[2020-07-21 15:25] #129 closed

[2020-07-21 15:57] #464 closed

[2020-07-21 15:59] #153 closed

[2020-07-21 16:36] jaapbakker88 commented on #208
@charltongroves is this still an issue or did this get resolved in support?

[2020-07-22 09:12] mahboubii commented on #432
@kind3r fixed in [v2.1.0](https://github.com/GetStream/stream-chat-react/releases/tag/v2.1.0)

[2020-07-22 09:12] #432 closed

[2020-07-22 13:12] jaapbakker88 commented on #196
@fandy @ingara @hansy we've just released a new version that includes a fix for this, it's on version `2.1.1`

#466

[2020-07-22 13:12] #196 closed

[2020-07-22 19:25] bluetoken-luke opened #467 "client Required by ChatContextValue breaks withChatContext"
Updating stream-chat and stream-chat-react today in an effort to hopefully resolve a different issue.  When updating i ran into the following TS issue that seems to break or render withChatContext useless.

Example:

[code]

[code]

I am using withChatContext to get access to the chat client.  However, because client is now required on ChatContextValue, I can not use
[code]
 without passing in cli

[2020-07-22 19:28] shodgetts commented on #467
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4582'>Zendesk ticket #4582</a>:<br><br>Assigning **Jaap Bakker**​

[2020-07-22 19:56] bluetoken-luke commented on #467
Following up, I was able to work around the issue above by doing the following.  Not sure if that helps resolve the root issue at all.  Figured I'd throw it out there.

[code]

[2020-07-22 21:36] amardeepranu commented on #464
@jaapbakker88 How would I access the channels in the channel list via the ChatContext? it's not listed a property.

What we're trying to do is customize the message preview UI (use our own component) and display that as the list in the ChannelList, but now I can't access the channels the ChannelList currently has to accomplish this.

Any ideas? Much thanks!

[2020-07-22 22:26] amardeepranu opened #468 "Unable to query channels by members using $autocomplete"
We're trying to search for channels by member name but it looks like the `$autocomplete` query function is disabled. I receive the following error:

[code]
for the following query:

[code]

So I'm trying to find all channels that I belong to that also have the users with names that contain "a".

Will this be enabled anytime soon?

I'm guessing the workaround here is to query all users with $autoco

[2020-07-23 04:24] alexlopezit commented on #312
Thanks for that @jaapbakker88 I checked and seems resolved.
Do you know when the `total_unread_count` in the back ends is going to be fix so it matches the counter on channels when using `/giphy`?

cc @tbarbugli

[2020-07-23 07:39] jaapbakker88 commented on #468
@amardeepranu you cant use the autocomplete for members on the queryChannels function, this only works on the queryMembers function. So your second solution is probably the best workaround right now.

[2020-07-23 07:41] jaapbakker88 commented on #467
@bluetoken-luke I will look into this issue, I do have to note that we're going to deprecate the HOCs for context and switching to the useContext hook implementation completely.

[2020-07-23 12:43] bluetoken-luke commented on #467
Fantastic.  Wasn't aware of the useContext hook.  I like the idea of that much more than using the HOC as well.  I will look to get switched over to the hook here today.

[2020-07-23 13:01] jaapbakker88 commented on #467
Awesome, let us know if you need any help!

[2020-07-23 13:31] amardeepranu commented on #468
Sounds good - thanks!

[2020-07-23 16:11] bluetoken-luke commented on #467
Was able to get this converted over.  All good

[2020-07-23 16:26] amardeepranu commented on #468
@jaapbakker88 when querying channels with this:

`{ type: "messaging", members: { $in: [props.userId, "263"] } }`

I get all chats that `props.userId` are a part of AND chats that `263` are a part of. How do I query for channels that they are both participants of together only?

[2020-07-23 16:33] amardeepranu commented on #468
I've tried the `$and` operator as per the mongo docs, but I get back this error from the API:

```Error: StreamChat error code 4: QueryChannels failed with error: "operator $and doesn't support matching array values"```

[2020-07-24 12:21] jaapbakker88 commented on #467
Good to hear!

[2020-07-24 12:21] #467 closed

[2020-07-24 12:25] jaapbakker88 commented on #468
@amardeepranu you'd want to do it like this:
[code]

[2020-07-27 13:57] amardeepranu opened #471 "Unread counts aren't working sometimes"
When running the example locally on version 2.1.1 the unread counts aren't updating predictably. To reproduce:

- Launch the react web client and select a different channel.
- Launch the react native mobile client, send a message.
- Observe the channel unread count either:
  a) Updating fine.
  b) Not updating at all.
  c) Updating, but not disappearing when selecting.

AFAIK, this isn't happening

[2020-07-27 19:31] shodgetts commented on #471
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4641'>Zendesk ticket #4641</a>:<br><br>Could you please share all your Stream related code (app.js file, etc). Struggling to reproduce this at the moment.

[2020-07-28 08:58] #468 closed

[2020-07-29 07:59] #208 closed

[2020-07-29 08:00] #68 closed

[2020-07-29 13:12] #152 closed

[2020-07-29 13:13] jaapbakker88 commented on #203
@siddharthJadhav closing this due to inactivity, feel free to reopen if this is still an issue for you.

[2020-07-29 13:13] #203 closed

[2020-07-29 22:17] alexlopezit commented on #402
Thank you

[2020-07-30 19:57] vicnicius commented on #297
Hello, @khanilov. On the latest release, you should be able to override both the `ReactionSelector` and the `ReactionList` component from any of our message components.

A contrived example:
[code]

[2020-07-30 19:57] #297 closed

[2020-08-05 13:08] amardeepranu commented on #471
Here's a video of the issue:

https://www.dropbox.com/s/ibi3fri6cokjut4/Screen%20Recording%202020-08-05%20at%209.03.14%20AM.mov?dl=0

Here's my code (nothing custom really):

[code]

[2020-08-07 13:27] amardeepranu commented on #471
It looks like initially when loading the component and selecting the unread chat channel it doesn't mark it as read, but unread messages received while the component is loaded marks them as read as intended.

[2020-08-09 10:50] amardeepranu opened #481 "Hooks typescript definitions are missing"
The typescript definitions for all the custom hooks are missing.

gz#5207

[2020-08-09 11:04] amardeepranu opened #482 ""message sent" call back"
Is it possible to expose a callback when a message is sent by the user containing the message content, sender Id, and receiver Ids? We're trying to implement our own encrypted push notifications but I can't find a clear way to do this. Thanks!

gz#5208

[2020-08-09 12:29] amardeepranu commented on #482
I've tried `overrideSubmitHandler` on the `MessageInput` which seems to work but it stops the channel preview from updating when sending a message, the preview's last message only updates again after a new channel is selected.

[2020-08-10 13:37] shodgetts commented on #481
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5207'>Zendesk ticket #5207</a>:<br><br>Thanks for the heads up. The team is working on adding TS support for all of our applicable repo's, but it is taking some time.

[2020-08-10 13:39] amardeepranu commented on #482
Looks like the channel list sorting breaking isn't caused by the `overrideSubmitHandler` - I'll create a separate issue for that!

[2020-08-10 13:50] amardeepranu opened #483 "Channel sorting broken on v2 and above"
- When a message is sent in a channel the list's sorting does not update (the channel in which the message was sent doesn't go to the top and the preview does not update)
- The preview is updated if another channel is selected but the sorting is still not updated
- This doesn't happen on v1.2.5
- No errors in the console

gz#5223

[2020-08-10 13:59] amardeepranu commented on #471
This is not an issue on v1.2.5

[2020-08-10 20:55] shodgetts commented on #483
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5223'>Zendesk ticket #5223</a>:<br><br>Hello, what is the filter and sort parameter you're using for the channelList component please. I will try to reproduce.

[2020-08-10 21:26] amardeepranu commented on #483
const filters = { type: "messaging", members: { $in: [props.userId] } };
  const sort = { has_unread: -1, last_message_at: -1, created_at: -1 };

[2020-08-10 21:27] amardeepranu commented on #483
To reproduce: have multiple channels in the channel list -> select a channel thats not on the top -> send a message -> observe the channel list not updating

[2020-08-11 07:52] jaapbakker88 commented on #483
@amardeepranu can you share a bit more of your code, I'm not able to reproduce this issue in our sample apps.

[2020-08-11 07:55] jaapbakker88 commented on #471
The errors your seeing are annoying and we'll fix them, but they're not related to this issue. Did you customize your channel config in any way. I'm not able to reproduce this on our end but did you maybe disable read events?

[2020-08-11 12:51] bizley opened #484 "How to refresh channel list when hiding / reappearing channel"
Hi, guys. Great work with this service, I love it.
I've got only one problem with it - I don't know how to force channel list to refresh when user hides the channel.

I'm using this set of components:

[code]

1. I've got custom `Preview` component for `ChannelList` that adds button to hide the channel when it's of `one-to-one` type. Hiding itself just triggers `props.channel.hide()`.
2. I've got

[2020-08-11 13:30] amardeepranu commented on #483
Sure! My code is below, perhaps its caused by the initialization of the stream client in the effect hook?

[code]

[2020-08-11 13:48] amardeepranu commented on #483
@jaapbakker88  I've fixed this by only passing the client prop to the Chat component once the setUser method has been called. It's strange though that this wasn't an issue for v1 but broke channel list sorting for v2

[2020-08-11 13:50] amardeepranu commented on #471
@jaapbakker88 I've fixed this by only passing the client prop to the Chat component once the setUser method has been called. It's strange though that this wasn't an issue for v1 but broke channel list unread counts for v2

[2020-08-11 14:48] jaapbakker88 commented on #484
#485 this should add support for the `channel.hidden` event and remove it from the list.

still working on `channel.visible`.

[2020-08-11 15:11] jaapbakker88 commented on #471
@amardeepranu thanks for letting us know, I'll investigate further as this behaviour seems weird.

[2020-08-11 15:12] jaapbakker88 commented on #483
@amardeepranu thanks for letting us know, I'll investigate further as this behaviour seems weird.

[2020-08-12 09:57] #484 closed

[2020-08-12 10:40] bizley commented on #484
Cheers :) I can confirm, it works.

[2020-08-17 11:02] jaapbakker88 commented on #482
@amardeepranu not sure what you're trying to implement here. You could probably create much of the funcitonality using the `overrideSubmitHandler`. Could you explain a bit more about your usecase?

[2020-08-17 12:04] tomdebuyser opened #488 "TS warning: Invalid prop `message.created_at` of type `date` supplied to `Message`, expected `string`"
I am using the example of the react chat tutorial for a channel list. There is a hiccup in the prop typings, my console is giving me a warning as shown in the image below.

I guess there is something wrong in the prop types definitiion?

<img width="634" alt="Screenshot 2020-08-17 at 14 00 19" src="https://user-images.githubusercontent.com/8437849/90394207-85a12900-e092-11ea-8f74-ea925ff8b34a.png"

[2020-08-17 12:29] jaapbakker88 commented on #488
@tomdebuyser thank you for reporting this, we're aware of the issue and will fix it in a future release. It should not affect your apps though.

[2020-08-17 12:30] tomdebuyser commented on #488
I was just mentioning it indeed, nothing breaking.

Thanks for your reply!

[2020-08-17 13:29] tomdebuyser opened #489 "React duplicate keys"
I created some channels and show them by using the code shown in the react chat tutorial for a channel list. It gives me react warnings about duplicate keys (image below)

Not breaking, but worth mentioning.

<img width="648" alt="Screenshot 2020-08-17 at 15 27 55" src="https://user-images.githubusercontent.com/8437849/90401561-690aee00-e09e-11ea-8701-a98a950a654e.png">

gz#5363

[2020-08-17 13:41] shodgetts commented on #489
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5363'>Zendesk ticket #5363</a>:<br><br>Thanks for bringing this up. As you mention, this should not be breaking but it is worth some attention.

[2020-08-18 15:35] flybayer commented on #207
The JS documentation still has the Swift code. I was very confused until I found this issue

[2020-08-19 22:19] santipalenque opened #490 "Client not updating activeChannels when deleting a channel"
calling `await channel.delete();` does not update the activeChannels prop on chat client

gz#5430

[2020-08-20 07:12] jaapbakker88 commented on #490
Can you give a bit more details about this problem. What happens, what do you expect to happen.

[2020-08-20 14:04] santipalenque commented on #490
Sure, so I have this layout:
`<Chat client={chatClient} theme={"messaging light"} initialNavOpen={false}>
                <div className="list-group">
                    <ChannelList
                        filters={{type: "messaging", members: {$in: [user.id]}}}
                        sort={{last_message_at: -1}}
                        List={ChannelListMessenger}
                        Previe

[2020-08-24 10:05] jaapbakker88 commented on #490
@santipalenque this is an issue we ran in to recently and we're looking into fixing this on the client, for now you can just reset the activeChannels yourself:
[code]

Let me know if that works.

[2020-08-24 13:02] santipalenque commented on #490
Thank you @jaapbakker88 . I worked around it by hiding and showing channels instead of deleting and creating.

[2020-08-24 15:09] veloware opened #493 "ChannelPreview has incorrect last_message_at for a channel receiving a new message"
I have a custom ChannelPreview component, that seems to be getting incorrect data when I create a new message on a channel.

Inside the component I have  -

[code]

which runs on each render, where the first log is correctly logs out the unread count at 1, but the second log is logging out the incorrect value, it will keep logging out the same value, which seems to be the value of the last message

[2020-08-24 15:20] #490 closed

[2020-08-24 15:21] #483 closed

[2020-08-24 15:21] #471 closed

[2020-08-26 05:22] rgkobashi commented on #488
Hi @jaapbakker88,
Me and my team we are getting the same parsing error about `created_at` field, but also on the iOS SDK.
The problem is that on the iOS app, we cannot make use of the chat at all, since the SDK shows a banner with the text `A decoding failed: The data couldn't be read because it is missing.`

I already created a [ticket](https://getstream.zendesk.com/hc/en-us/requests/5513) but I

[2020-08-26 07:13] hima-Megahed opened #494 "Update ChannelList with channels "Children""
Hello, I have an odd behavior which i don't know if that's a bug.

I have a ChannelList Component which list all my channels.
When I been removed as a member from a channel it disappear from ChannelList and that's correct, but when I've been added to the same channel it doesn't show up in ChannelList again. Only when i refresh show up.

So is there anything i'm missing or workaround rather than re

[2020-08-26 07:17] hima-Megahed commented on #494
@jaapbakker88 @vishalnarkhede any help i would be thankful as this is affecting my application.

[2020-08-26 08:17] jaapbakker88 commented on #488
@rgkobashi I can't imagine these issues related. in our web client it's proptypes complaining because we had to sync up propTypes and TS, and we can't get the propTypes to correctly match the TS. This does not impact the web client at all. It won't show in production either.

I'll message our iOS developers to make sure they've seen this.

[2020-08-26 08:43] rgkobashi commented on #488
Ah ok I see, we got confused then, due the similarities of the iOS client error (pasting it for reference):

[code]

Will be much appreciate if your iOS devs can take a look into this 🙏

[2020-08-26 19:52] notthatnathan opened #496 "message.created_at PropType warning"
The message being passed to `<Message />` includes `created_at` as a date, but this [validation requires a string](https://github.com/GetStream/stream-chat-react/blob/master/src/components/Message/Message.js#L139). This error is logged:

[code]

gz#5578

[2020-08-27 07:28] MondeoWu commented on #494
i have the same problem.
pls note the solution when you solve it. thx.

[2020-08-27 08:45] jaapbakker88 commented on #496
closing because a duplicate of #488

[2020-08-27 08:45] #496 closed

[2020-08-27 12:16] hima-Megahed opened #497 "UserName does not get updated in channelList when user updates his name"
Hello getStream Team,

Maybe this could be a bug. If not please note how could i accomplish that!

This scenario could demonstrate:
- user **A** talks to user **B**
- user **B** changes his name to be **C** instead
- user **A** sees channel preview item viewing user name **B** Not **C**

P.S. user **A** must refresh the page to get the new updated name of the other user **C**.

Could anyone possib

[2020-08-27 12:45] jaapbakker88 commented on #497
@hima-Megahed right now our component generates the name of a channel based ont the members names when it's being rendered. When a user name is changed we don't know that this happens so we can't update the name.

What you could do is listen to the `user.updated` event and check if the name has changed and change the name if that is the case. This would require you to initialize the client with th

[2020-08-27 13:05] hima-Megahed commented on #497
@jaapbakker88 Thanks!

Ok that seems promising,
but what about the Channel Messages sender information! how could i achieve the same behavior?

[2020-08-27 13:32] jaapbakker88 commented on #497
What do you mean by the "Channel Messages sender information"?

[2020-08-27 13:34] hima-Megahed commented on #497
@jaapbakker88
![image](https://user-images.githubusercontent.com/17393156/91448864-b8110a00-e87a-11ea-8531-a0bef31c56b2.png)

You see i want his name to be updated also when he updates his name.

[2020-08-27 16:07] jaapbakker88 commented on #497
mmm, that might be tricky. That would require to:

- listen to user.updated event
- update all the messages in local state by that user

it's possible not might get messy and I would not recommend doing that.

[2020-08-27 18:09] notthatnathan commented on #488
More prop type failures w/ `stream-chat-react@2.2.2` and `stream-chat(-js)@2.1.0`.

[code]
[code]

Nothing appears to be broken and this passes muster for the channel being passed.

[code]

[2020-08-27 20:34] hima-Megahed commented on #497
@jaapbakker88 ok so i tried what you mentioned subscribed to `user.updated` event as you see.
![image](https://user-images.githubusercontent.com/17393156/91491656-a8aeb280-e8b4-11ea-96f7-3b56c4dc3fd4.png)

Then I'm using this nuget for .Net https://github.com/GetStream/stream-chat-net to update user info.

But this event i'm subscribing to is never getting called.
P.S. I also tried to update from

[2020-08-28 08:29] jaapbakker88 commented on #497
@hima-Megahed what options parameters are you passing to the ChannelList? you need the `presence:true` option in there.

[2020-08-28 09:17] xikobe opened #498 "The Avatar component should have the name prop"
I'm implementing a simple chat UI and noticed the fallback avatar does not have the initials:

![image](https://user-images.githubusercontent.com/6670607/91544168-433fdd80-e917-11ea-9be3-422e6cf29bec.png)

After looking at the code and adding the name prop in the react devtools I see it works fine.

https://github.com/GetStream/stream-chat-react/blob/1cc70946c68c7eba41bee6eb687b9b22a8c63267/src/co

[2020-08-28 10:38] hima-Megahed commented on #497
@jaapbakker88 Yes, I'm passing this option as below, Then starting to listen to this specific event like so:
![Untitled](https://user-images.githubusercontent.com/17393156/91551696-e817e600-e92a-11ea-96c0-6b1c77f57071.png)
Then I'm triggering this event by updating the user from the back-end as below:
![image](https://user-images.githubusercontent.com/17393156/91551863-2ca38180-e92b-11ea-8d06-89ea

[2020-08-28 11:53] veloware commented on #493
Any pointers on this? Is there another place I can get the date / time of the most recent message after sending a message to a channel?

[2020-08-31 08:36] jaapbakker88 commented on #497
In ChannelList can you do:
[code]

[2020-08-31 08:40] jaapbakker88 commented on #493
@veloware this seems like a bug on the client, can you try getting the last message from `props.latestMessage` and getting the created_at from that message? I'll make sure this will get added to our backlog.

[2020-08-31 09:13] veloware commented on #493
Thanks for the reply, yes I can get it from there when a new message gets added to the channel, however its `undefined` on first load, so it's a bit of a mixture, looks like I can get the date from `props.channel.data.last_message_at` when first loading the screen, but then use `props.lastMessage.created_at` when any further messages have been added. Not ideal -

`props.lastMessage?.created_at ? p

[2020-09-01 07:20] #488 closed

[2020-09-01 07:20] #489 closed

[2020-09-01 07:20] #493 closed

[2020-09-03 16:15] plandem opened #500 "Chat is not recovering on watch's timeouts or any other error"
This piece of code is potential issue, since if watch will be timed out (and default setting for `stream-chat-js` is 3s for any network request), then whole chat will be broken - it will render `LoadingIndicatorError`, but there is no way to recover from it. That particular case ruined experience of few our clients. And 3s timeout can easily happen on slow internet connection.

https://github.com/

[2020-09-03 17:25] shodgetts commented on #500
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/5749'>Zendesk ticket #5749</a>:<br><br>you can increase the timeout using the code found here: https://getstream.io/chat/docs/increasing_timeout/?language=js&q=timeout

[2020-09-03 18:07] plandem commented on #500
1) And how it will help to recover if timeout happens?!

2) We can’t increase timeout infinitely, We still would prefer to have timeouts for other network requests  as well, like sending messages and etc.

[2020-09-08 01:28] shelbyt opened #506 "Disable slash commands based on role"
Related to the request in #36
Is there a resolution to this issue:

Looked around all of the related docs but couldn't find anything. Ideally the current user context can be detected and only the flags enabled for a certain role should show up.

Alternatively even if I could just do something like:
                           ` <MessageInput commandInput={["giphy"]} />` or  ` <MessageInput role={"u

[2020-09-08 05:57] shodgetts commented on #506
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5826'>Zendesk ticket #5826</a>:<br><br>Hi Shelbyt

Thanks for reaching out to us.
Can I ask for your App Id and User Id, please?
I will get this checked with an Engineer and let you know.

Cheers
Seetha

[2020-09-08 09:24] jaapbakker88 commented on #506
@shelbyt, it's not necessary to send your appId or userId on GH. This is currently not possible. The only way to customize this would be to supply `autocompleteTriggers` to the MessageInput component. Only problem here is, it overrides the default triggers, so you would have to copy over our triggers and customize them yourself.

[2020-09-08 13:23] shelbyt commented on #506
Understood. Thanks. Could you clarify this part:

Could you provide a short example about how to do this and approx where I can find the triggers code?

Related question, I see this component `<ChatAutoComplete>` which has a "commands array" prop. This component doesn't have a clear description, but the autocompleteTriggers-prop says it overrides ChatAutoComplete. What is the relationship between

[2020-09-08 14:02] jaapbakker88 commented on #506
@shelbyt this is correct. ChatAutoComplete is what handles commands(/giphy, /ban), mentions and emoji. The triggers(`:`, `@` and `/`) are passed down to this component.

https://github.com/GetStream/stream-chat-react/blob/4f64abcda95c77344a973b2972965a70b0cd8295/src/components/ChatAutoComplete/ChatAutoComplete.js#L80

This is where we get/set the triggers. This is also the format we expect. You co

[2020-09-08 14:02] banagale commented on #488
I saw this was closed, but the (benign) error still seems to be shown.

I tried installing from the newer releases not on npm yet i.e. 2.3.0-beta.0

[code]

Any suggestions on how to squelch this error?

[2020-09-08 14:04] jaapbakker88 commented on #488
@banagale the issue is not fixed. But the issue is closed. It's in our backlog right now.

[2020-09-08 14:34] shelbyt opened #508 "Link Avatar Icons to Pages"
Is there anyway to have chat icons have onclick actions i.e. redirecting to a user's personal page when someone clicks their in-chat avatar?

gz#5842

[2020-09-08 14:45] jaapbakker88 commented on #508
@shelbyt you can provide `onUserClick` and `onUserHover` to the `<Message />` Component.

[2020-09-08 14:45] #508 closed

[2020-09-08 16:54] banagale commented on #488
@jaapbakker88 Thanks for the feedback. I encourage this to get some priority.

After testing the tutorial, I put a fair amount of time getting a user token endpoint set up and loaded prior to stream. I encountered errors in the console along the way, including encountering [this issue](https://dev.to/clinggit/comment/bgpa).

So when I finally got it working, I almost missed it because of the big e

[2020-09-09 09:15] veloware opened #509 "ChannelList filtering including wrong channel type"
I have channels with a type of `messaging` which I am filtering as part of a`ChannelList` component -

[code]

where `filters` is -

`{ type: 'messaging', members: { $in: getConnectionIds().concat(props.profile.id) } }`

this works fine.

I then have another custom channel type to manage audio/video call channels, type = `call`, to be used alongside Voxeet.

When I call a user, I create a channel

[2020-09-09 11:06] jaapbakker88 commented on #509
@veloware the issue here is the filter is only applied during querying for channels. It doesn't filter the incoming events, so in this case when you create a new channel the user that gets added to the channel, get's an event and the channel get's added tot the list.

There is a way around this, you can provide a custom event handler to the `onMessageNew` and `onAddedToChannel` props on the Channe

[2020-09-09 12:13] veloware commented on #509
Thank you, that seems to work

[2020-09-09 12:13] #509 closed

[2020-09-10 21:09] amardeepranu commented on #149
Any prioritization here? Stream chat and emoji-mart take up around 29% of our total bundle size - it would be nice to get this down

[2020-09-10 21:33] bignoggins commented on #149
Yeah hard to claim that Stream Chat is performant but have such a
needlessly large bundle. Bundle size is a huge factor in web performance.

On Thu, Sep 10, 2020 at 2:10 PM amardeepranu <notifications@github.com>
wrote:

[2020-09-11 10:13] mahboubii opened #517 "docs are partially broken"
related to this: https://github.com/reactjs/react-docgen/issues/463

gz#5931

[2020-09-14 12:40] fedex995 commented on #471
@jaapbakker88 did you look into this? I'm still experiencing this issue

[2020-09-14 13:57] jaapbakker88 commented on #471
@fedex995 can you open a new issue describing your problem in detail

[2020-09-14 21:23] kainosnoema commented on #488
Also ran into this. @jaapbakker88 fwiw it's a little confusing to see this closed but not fixed. Might I recommend ensuring that Github issues status track your internal backlog? Otherwise you may have to keep answering the same questions...

[2020-09-15 06:56] jaapbakker88 commented on #488
@kainosnoema we're working on this currently, should be fixed soon.

[2020-09-15 21:38] agallagher777 opened #522 "Custom Emoji-Mart Filter Prop"
Hi,

We're building out a streaming application for schools (ranging from elementary school to high school) attending lectures at our organization.  Really happy with the quality of this package so far, but given that our target audience is largely children we need to filter down the allowed list of emojis — namely some of the more "evocative" emojis.

I'm wondering if it is possible to request an

[2020-09-15 22:39] shodgetts commented on #522
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6013'>Zendesk ticket #6013</a>:<br><br>Hi

Thanks for reaching out to us.
I will get this checked for you.
Meanwhile, can you please confirm if you are a Stream customer? Sorry, couldn't confirm your details with the email id - agallagher777@stream-chat-react.com . Thanks.

Cheers
Seetha

[2020-09-15 23:25] shodgetts commented on #522
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6013'>Zendesk ticket #6013</a>:<br><br>Hi

Apologies for the confusion. Please ignore the email id (agallagher777@stream-chat-react.com) That's generated by the tool.

Cheers
Seetha

[2020-09-16 02:57] agallagher777 commented on #522
Hi,

We have an account registered as barnesfoundation

[2020-09-16 03:10] shodgetts commented on #522
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6013'>Zendesk ticket #6013</a>:<br><br>Hi,

Nice to know. Thanks for the update.
I am checking your request with our react team, will update you when I have more information.

Thanks for your patience.

Cheers
Seetha

[2020-09-16 10:19] MondeoWu opened #523 "ChannelList doesn't refresh when a message gets added to a hidden channel"
Hi,
Stream is so easy to use, but i have an urgent problem needs you guys' help:
step 1:  A chat with B, we get a channel in the ChannelList ,right?
step 2: A hide the channel by using channel.hide(), and the channel get removed in the channelList;
step 3: B send a new message to A, A receive the message, i can catch the event, and unread count is 1 now, but the channel doesn't show up in A's Chan

[2020-09-16 10:22] veloware opened #524 "How to handle new message notifications / stop watching channels"
Im confused on the correct way on how to handle notifications for new messages to a channel.

I have added chat into my existing application that would be under `/chat`.  Outside of that route, you still have chat context.  I am trying to solve for displaying notifications of unread channels only when you are outside of the `/chat` route.  From what I see in the docs, there is a `notification.new_

[2020-09-16 10:24] jaapbakker88 commented on #522
@agallagher777 we're looking into adding this as a feature. Will update you here once I know more.

[2020-09-16 10:30] jaapbakker88 commented on #523
@MondeoWu can you elaborate a bit more. I'm not sure what the behaviour is your expecting in step 3 and 4.

[2020-09-16 10:35] jaapbakker88 commented on #524
@veloware, you probably want to call `stopWatching` in this case. The `ChannelList `automatically watches the channels it renders but when you unmount it doesnt unwatch them. So if you still have an active client in the `ChatContext` it will not receive notifications unless you stop watching.

What's your use case here though, do you actually need the `notification.new_message` event or can you al

[2020-09-16 10:42] veloware commented on #524
My use case is that when outside of the `/chat` route (that could be thought of being the chat system), that in I receive an indicator of the number of unread channels in my Nav component. `Chat` component is high up in the tree, so my Nav does have access to the chat context.

I initially tried to use `message.new` however this causes the unread channels indicator in the Nav to show / increment b

[2020-09-16 10:58] MondeoWu commented on #523
user A hide the channel in step 2 and Stream remove the channel from the channelList ,so A cannot see the channel in his page.and user B still can send msg to A ,so B send a new msg to A, when A receive the msg, the hidden channel doesn't show up in the channel list.

[2020-09-16 11:01] veloware commented on #524
I have also hit error in the past with 'too many requests' I would be worried about hitting said error if I were to call `stopWatching()` on a lot of channels - out of curiosity, at what number of requests is that error returned?

[2020-09-16 12:22] jaapbakker88 commented on #523
@MondeoWu when you're hiding the channel you should also call `channel.stopWatching()`. This will make sure you'll get the `notification.*` events for that channel and the channel will reappear when a new message get's added tot the channel. Hope this solves your issue.

[2020-09-16 14:37] MondeoWu commented on #523
@jaapbakker88  awesome! It works! Thanks a lot.

[2020-09-16 14:37] #523 closed

[2020-09-16 19:02] ZNackasha opened #526 "useReactionHandler is not in typescript type"
useReactionHandler needs to be added in the ./types/index.d.ts

checked this against 2.2.2 and 2.3.3

gz#6052

[2020-09-17 03:51] MondeoWu opened #527 "Create user on sever-side success, but create channel with that user on client-side failed."
Hi guys,
1. Our app already have many users when we integrate Stream.
2. I read the docs, it says i should use client.setUser() to create a user on Stream by client-side.
3. So if a user never logged in since we integrated Stream, we cannot call setUser(), so he is not created on Stream, and  other users cannot send a message to him.
4.So our solution is: if user A never logged in, when user B cre

[2020-09-17 04:13] shodgetts commented on #527
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6058'>Zendesk ticket #6058</a>:<br><br>Hi

Thanks for reaching out to us.

You wouldn't be using setUser() to create a new user **server-side**.

You might want to use these -

 `client.updateUser` or `client.upsertUser`

Please let us know how you go.

Cheers
Seetha

[2020-09-17 06:08] MondeoWu commented on #527
@shodgetts  Thanks a lot. I should read the docs more carefully.

[2020-09-17 09:10] #527 closed

[2020-09-18 00:17] hochoy opened #533 "Infinite loop of calls to GetStreamAPI from channel.watch()"
## Issue:
When we implemented the example in the GetStream blog, the `channel.watch()` call in line 55 resulted in an infinite loop of calls to the getStream API. It also resulted in timeout errors.

https://getstream.io/blog/securing-a-chat-app-with-react-and-auth0/#add-chat-functionality-with-stream:~:text=section.-,Add%20chat%20functionality%20with%20Stream

## to reproduce:
Here is a minimal r

[2020-09-18 03:31] ZNackasha opened #528 "StreamChatMessageType does not extend string"
i am trying to use client.on to subscribe to events. how ever when i try to create a EventHandler i am told the following

`Type 'StreamChatMessageType' does not satisfy the constraint 'string'.ts(2344)`

please let me know if i am doing something wrong

here is my code

[code]

note that EventHandler expects string

[code]

gz#6087

[2020-09-18 04:02] shodgetts commented on #528
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6087'>Zendesk ticket #6087</a>:<br><br>Hi

Thanks for getting back.
Typescript issue. Can you please let me know the version of the stream-chat-react you are in?

Cheers
Seetha

[2020-09-18 16:12] ZNackasha commented on #528
oh sorry i was using 2.4.0 at the time.

[2020-09-18 20:01] nhannah commented on #528
@ZNackasha For unused generics between assigned generics some value is needed e.g. `{}` or `Record<string, unknown>` or `Record<string, any>` or `string & {}` for commands (the string & {} preserves intellisense while allow any string).

For your use
[code]

should be correct I believe.

[2020-09-21 00:45] santipalenque opened #529 "Hidden channels do not show when new message comes in."
It used to work as the doc says, when you hide a channel it remains hidden until a new message comes into that channel, but is no longer working, hidden channels remain hidden even if a user sends a new message.

gz#6125

[2020-09-21 06:42] shodgetts commented on #529
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6125'>Zendesk ticket #6125</a>:<br><br>Hi

Thanks for reaching out to us.
I can get this checked for you.

Cheers
Seetha

[2020-09-21 07:37] jaapbakker88 commented on #529
@santipalenque when you hide the channel, please also call `channel.stopWatching()`. That should fix it.

[2020-09-21 14:15] santipalenque commented on #529
Thank you @jaapbakker88  !!! it works now

[2020-09-21 14:16] #529 closed

[2020-09-22 00:34] alexlopezit opened #531 "Add current search value for mentions in autocomplete header"
https://github.com/GetStream/stream-chat-react/blob/3e4ef46182818c556178284f13ef2ca3743e590f/src/components/AutoCompleteTextarea/List.js#L144

Could it be possible to support the current search value for mentions the same way as it currently is for commands and emojis?

Something like this
[code]

gz#6149

[2020-09-22 01:35] shodgetts commented on #531
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6149'>Zendesk ticket #6149</a>:<br><br>Hi

Thanks for reaching out to us.
I can get this checked for you.

Cheers
Stream Team

[2020-09-23 02:48] shelbyt commented on #508
hi @jaapbakker88 apologies for bringing this up again, I had one more question related. The way that I've been using the chat component has just been like this;
[code]

How do I modify the` <Message />` component here like you've suggested?

[2020-09-23 05:02] shelbyt commented on #508
Of course I figured it out shortly after posting it...

For future reference I'm posting my solution here:
`const MyMessage = props => <><MessageTeam {...props} onUserClick={(() => console.log("clicked"))} /></>;`
This overrides the MessageTeam component and exposes the onuserclick prop so that when the user icon is clicked the console.log displays.

[2020-09-23 08:58] vishalnarkhede commented on #533
Hey @hochoy I have sent a PR with a fix that should resolve the issue for now - https://github.com/hochoy/debug-getstream/pull/1/files

We will fix the real issue soon in our stream-chat-react package.

[2020-09-23 09:19] vishalnarkhede commented on #533
@hochoy We have published a patch for fixing this issue - `stream-chat-react@2.4.1`

Thanks for bringing this up :)

[2020-09-24 02:40] alexlopezit opened #536 "Emojis have opacity when editing a message"
https://github.com/GetStream/stream-chat-react/blob/f1ee8b4bd22476f056229895e199aeb83c3b70be/src/styles/EditMessageForm.scss#L33

![image](https://user-images.githubusercontent.com/1654135/94094549-1e318280-fe63-11ea-9ad9-acbdda2e0edd.png)

The linked line is adding an opacity to the emoji buttons that should not be there.

gz#6213

[2020-09-24 03:19] shodgetts commented on #536
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6213'>Zendesk ticket #6213</a>:<br><br>Hi

Thanks for reaching out to us.
I can get this checked for you.

Cheers
Stream Team

[2020-09-24 12:30] veloware opened #538 "Adding / removing members from channel doesn't update members array in ChannelContext"
I am adding members (moderators) or removing members to/from a channel -

_server side_ (add as moderator)

[code]

or

_client side_ (remove member) using `withChannelContext`
[code]

however neither is causing `withChannelContext` to provide an updated array of members, using `props.members`.  Logging `props.members` shows only the initial array of members before adding or removing.  I understan

[2020-09-24 12:53] jaapbakker88 commented on #536
@alexlopezit thanks for reporting this issue. We have a fix on the way!

[2020-09-24 12:56] jaapbakker88 commented on #531
@alexlopezit I have added this to our backlog. Hopefully we can get this picked up soon.

[2020-09-24 20:02] jihok opened #541 "ExtendedAttachment interface does not have correct type for images"
Getting this error trying to compile:
[code]

and indeed on that line: `images?: Array;` is not a valid type. Noticed this on stream-chat-react v2.4.1 and it still exists in v2.5.0

gz#6237

[2020-09-25 04:20] alexlopezit commented on #536
Awesome, thanks

[2020-09-25 05:39] alexlopezit opened #542 "Type for client on ChantContextValue issue"
https://github.com/GetStream/stream-chat-react/blob/bab02525137e064348ff69615375679c203cf098/types/index.d.ts#L70

Currently the ChannelList and it's hooks have type issues as the client here is type `StreamChatReactClient` but the code expects `StreamChat`

ChannelList
![image](https://user-images.githubusercontent.com/1654135/94230261-f1559c00-ff44-11ea-9601-17858b0e4ed2.png)

gz#6242

[2020-09-25 05:47] shodgetts commented on #542
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6242'>Zendesk ticket #6242</a>:<br><br>Hi

Thanks for reaching out to us.
We can get this checked for you.

Cheers
Stream Team

[2020-09-25 07:26] alexlopezit commented on #542
Sorry forgot to mention the version, I was upgrading these:

"stream-chat-react": "2.1.3" to "2.5.0"
"stream-chat": "1.14.0" to "2.4.0"

Also the types on the `Channel` seem to have changed.

This is an example on the `client.queryChannels` which was returning type `Channel[]` which worked perfect

Before on 2.1.3
![image](https://user-images.githubusercontent.com/1654135/94238172-49939a80-ff53-11

[2020-09-25 07:57] #536 closed

[2020-09-25 09:09] #533 closed

[2020-09-25 14:50] jaapbakker88 commented on #197
@siddharthJadhav is this still an issue?

[2020-09-25 20:58] agaace opened #546 "Error when switching users"
I'm using version 2.5.0.

My app markup:

[code]

Which works fine.

Now if I attempt to switch to another user after the component has rendered via `streamApi.setUser` like this:
[code]

I get a connection error like this:
![image](https://user-images.githubusercontent.com/2460260/94315157-cfedb380-ff36-11ea-91a0-cd4dc56e66ad.png)

[code]

How do I switch users within the chat?

gz#6252

[2020-09-25 22:07] agaace commented on #546
From my initial investigation it looks like the error is caused by the `usePaginatedChannels` hook that runs between calls to
[code]

and

[code]

At the same time, stream chat API will not let me `setUser` without calling `disconnect` first.

[2020-09-25 22:16] shodgetts commented on #546
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6252'>Zendesk ticket #6252</a>:<br><br>Hello, switching users in the middle of running the app isn't recommended. The client that you are disconnecting runs through the entire Stream code, and you're disrupting it. You'll need to unmount all of the components, disconnect, set the user, then re-mount.

[2020-09-25 22:19] agaace commented on #546
Is there an example of how exactly I can do that?

[2020-09-27 15:33] siddharthJadhav commented on #197
@jaapbakker88  Sorry for the late reply.

I have fixed this with some custom workaround.

[2020-09-27 15:33] #197 closed

[2020-09-28 07:27] #498 closed

[2020-09-28 11:27] jaapbakker88 commented on #524
@veloware you can find all our rate limits here: https://getstream.io/chat/docs/rate_limits/?language=js

Does that solve your issue or are you going to call this endpoint a lot. To me it seems that outside of `/chat` you probably still have a ChannelList open that watches the channels and prevents the `notification.new_message` from being sent.

[2020-09-28 11:34] veloware commented on #524
Hi, yes I believe, `stopWatching()` has allowed me to get the notifications behaving correctly.  Thanks for sending on the rate limits.  I don't think it is of immediate concern around 1,000 calls to `stopWatching()` so thats probably fine for us in the meantime.

Thanks for your help

[2020-09-28 11:34] #524 closed

[2020-09-28 14:50] veloware commented on #538
Hi, is there an update on this? This is proving to be a poor user experience for us not having the array of members being updated.  Thanks

[2020-09-28 16:08] veloware opened #549 "Question - how to create a system-like message?"
Hi,

I am looking to create and send a message to a channel that is more of an informational message rather than speech.  For example we have stream working alongside video calling, and I would like to display an informational message to show that a call occurred between multiple people.  If user X called user Y, I would like to display something like - 'You called Y' for user X and 'X called you'

[2020-09-28 17:44] shodgetts commented on #549
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6285'>Zendesk ticket #6285</a>:<br><br>Hello, for this you will want to use the channel.update method and add in some text. You can read more here
https://getstream.io/chat/docs/channel_update/?language=js
-S

[2020-09-29 03:21] DamonOehlman opened #550 "Type definitions: ExtendedAttachment images Array property invalid (possibly TS 4.x related)"
I suspect this is an issue after we recently moved to using TypeScript `4.x` for our project compilation as it's not something I noticed earlier, and notice that the change was introduced 19 days ago as part of 0448d3474f712d78d557980f94c66e78e2d0c2f4.

[code]

gz#6310

[2020-09-29 03:56] shodgetts commented on #550
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6310'>Zendesk ticket #6310</a>:<br><br>Hi Damon

Thanks for reporting this to us.
We will get this checked.

Cheers
Seetha

[2020-09-29 07:03] #154 closed

[2020-09-29 07:48] #549 closed

[2020-09-29 08:59] jaapbakker88 commented on #497
Closing this due to inactivity. Please let us know if this is still an issue for you.

[2020-09-29 08:59] #497 closed

[2020-09-29 17:04] nhannah commented on #542
@alexlopezit Can you give me some more details on the second issue? The client now accepts a list of generics corresponding to the custom fields you may want to use in the application. By default they are all `Record<string, unknown>`. The Channels returned is now more detailed than before but in essence the same, just extendable. The first issue I will put a PR in for shortly.

[2020-09-29 17:19] #528 closed

[2020-09-30 07:03] alexlopezit commented on #542
Hi @nhannah

I just went to the `examples/typescript-app` updated it to version 2.6.1 and added this small code to test the types

[code]

And add that after the `Thread` component

[code]

Then you will be able to see the code does not compile while `channel.data.member_count` should be valid as in version 2.1.3 which is the one I got at the moment

![image](https://user-images.githubusercontent.

[2020-09-30 07:21] #550 closed

[2020-09-30 07:43] jaapbakker88 commented on #541
@jihok this was fixed in `v2.6.2`

[2020-09-30 07:43] #541 closed

[2020-09-30 07:55] jaapbakker88 commented on #447
@kovacsmarcellcodinglab I looked into this, but it seems that setting maxNumberOfFiles to 0 does the trick:

[code]

[2020-09-30 07:55] #447 closed

[2020-09-30 07:56] jaapbakker88 commented on #482
@amardeepranu closing this due to inactivity. Let us know if you need more help with this.

[2020-09-30 07:56] #482 closed

[2020-09-30 07:57] #138 closed

[2020-09-30 07:58] jaapbakker88 commented on #280
@khalinov, this was added in version 2.6.0.

[2020-09-30 07:58] #280 closed

[2020-09-30 08:18] jaapbakker88 commented on #395
@plandem, had a look at this, this code works:

[code]

[2020-09-30 08:18] #395 closed

[2020-09-30 08:23] jaapbakker88 commented on #506
@shelbyt going to close this issue. Please let us know if we can assist with any other issues.

[2020-09-30 08:23] #506 closed

[2020-09-30 08:24] jaapbakker88 commented on #522
@agallagher777 we're working on this here: https://github.com/GetStream/stream-chat-react/pull/530

[2020-09-30 09:00] tkrevh opened #553 "Urgent: Including browser.full-bundle.min.js overwrites Image in browser global scope, breaks Facebook Pixel event tracking"
Hello!

We're a paying customer and we've had issues with Facebook Pixel tracking for some months now. Finally today we were able to find the reason why FB Pixel tracking isn't working. It's because when loading your browser.full-bundle.min.js package, it overwrites the Image class on the browser window global scope. FB pixel tracks events by creating a new Image() and then setting it's src attrib

[2020-09-30 09:21] #553 closed

[2020-09-30 10:42] mahboubii commented on #553
@tkrevh fixed in [v3.0.0](https://github.com/GetStream/stream-chat-react/releases/tag/v3.0.0)

[2020-09-30 10:46] tkrevh commented on #553
That's some serious speed 👍 Thank you very much 🥇

[2020-09-30 23:04] alexlopezit commented on #542
Hi @jaapbakker88 , types are still not working in 3.0.0 as for the sample test I posted above, so this issue is still not resolved.

cc. @tbarbugli

[2020-10-01 09:07] jaapbakker88 commented on #542
@alexlopezit problem with the ChannelContext is that its values can technically be undefined since its default value is just an empty object. In our library we use optional chaining to solve the issue. We tried solving this issue but haven't found a satisfying way:

In your example you would have to:
[code]

[2020-10-02 00:46] alexlopezit commented on #542
@jaapbakker88 that solution worked fine for Stream fields, however how would I make it work for custom fields?

![image](https://user-images.githubusercontent.com/1654135/94876956-7e947580-049c-11eb-9e41-6d3a3b5f6ab2.png)

[2020-10-02 23:14] nhannah commented on #542
@alexlopezit I have made a [PR](https://github.com/GetStream/stream-chat-react/pull/557) that will extend the base type with `Record<string, any>`, the stream-js client was recently update to full typescript and now supports custom data via a variety of generics. This will be coming to stream-chat-react and will solve the problem you currently are seeing and give you full custom typings on extende

[2020-10-05 03:06] alexlopezit commented on #542
Awesome news, thanks and can't wait to try it out

[2020-10-05 11:52] jaapbakker88 commented on #538
working on this here: #561

[2020-10-05 13:28] jaapbakker88 commented on #542
@alexlopezit we just released v3.0.1 which should resolve this issue.

[2020-10-05 13:37] jaapbakker88 commented on #538
@veloware this should be resolved in version v3.0.1

[2020-10-05 13:37] #538 closed

[2020-10-05 14:16] #517 closed

[2020-10-06 15:22] veloware opened #563 "How to use the user.presence.changed event?"
I have two places where I need to react to when other members login / logout that I can't seem to get working. In a header above the active channel, using withChannelContext, and also in my channel list, using the ChannelList component.

1) withChannelContext

Looking at https://getstream.github.io/stream-chat-react/#section-withchatcontext

I should be able to get the number of online users for t

[2020-10-07 04:09] alexlopezit commented on #542
Hi @jaapbakker88, I'm just trying this out and seems to be working so far, and noticed this type now returning unknown

`client.user.total_unread_count` Type (before `number`, now `unknown`)

One thing I'd like to clarify when using `ChannelContext` as you mention

Is this from the API or the library only?

[2020-10-07 05:32] shodgetts commented on #563
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6483'>Zendesk ticket #6483</a>:<br><br>Hi

Thanks for reaching out to us.
We will get this checked for you.

Cheers
Stream Team

[2020-10-07 19:30] shodgetts commented on #563
Regarding your rate limit... this is a per-user rate limit (read more here https://getstream.io/chat/docs/rate_limits/?language=js).

You should only need to call client.queryUsers() with presence:true once, then listen to events. It sounds like it might be in a loop if it's being called >60 times /minute from the same client? Are you receiving presence changes?

Read more here (https://getstream.

[2020-10-08 06:17] alexlopezit opened #564 ""Edit Message" and "Delete" message buttons display issue"
There is an issue on the message actions that we can't replicate but we get it now and then, we have no steps to reproduce as it happens randomly.

The problem is that sometimes we can see the "..." icon on someone else messages which allows the user to click on both `Edit Message` and `Delete` message buttons. We know the backend is preventing the editing or deleting in these cases which is good,

[2020-10-08 08:37] veloware commented on #563
Thank you for clarifying the rate limits.  When I was hitting the rate limits it was because I was admittedly trying to do something that i _shouldnt_ need to do, as you say.  I was doing that simply because I couldn't get presence events from the first two scenarios I mentioned.

Regarding the second scenario, I seem to seeing the same issue as raised here - https://github.com/GetStream/stream-ch

[2020-10-09 03:30] alexlopezit opened #565 "Limit the number of attachments selected"
Is there is any way we can prevent the user to select more than 10 attachments as it seems that is the limit when sending a message to the server, at the moment you can select more than that and then send the message which will fail, then clicking the link `Message failed. Click to try again.` will simply keep failing in the background and the users does not know why, also there is no way to remov

[2020-10-09 10:36] mahboubii commented on #564
Hey @alexlopezit, couple of questions:
1. How random is this behavior? any chance it's happening only for/to some type of users?
2. Which Message component are you using?
3. Could you share your JSX code?
4. Are you using `useUserRole()` hook provided by the library?
5. Have you set custom permissions for users or the channel type you are using?

[2020-10-09 10:39] mahboubii commented on #565
Thanks for reporting this, currently API limits the number of attachments to a maximum of 10 for each message, we will put a reflect this limit in our components soon.

[2020-10-09 13:08] mahboubii commented on #563
Hey @veloware,
1. You can get the number of currently online members/watchers in a channel using `ChannelContext`:
`const { watcher_count } = useContext(ChannelContext);`

2. If you want to see if a specific user is online or offline, you can read it again from `ChannelContext`, this can trigger the rerender you need, but I'd suggest stick to the `watcher_count`:
[code]

[2020-10-09 13:14] mahboubii commented on #563
Alternatively, you can always listen to the events including `user.presence.changed` directly from `StreamChat` client

[code]

[2020-10-09 13:51] mahboubii commented on #546
@agaace Sorry for getting back to you a bit late. Switching user is out of the scope of the library, but you can easily achieve it by unmounting the Chat app and mounting it again using a new StreamChat instance. Hopefully this code snippet will help you:
[code]

[2020-10-09 14:02] mahboubii commented on #526
@ZNackasha thanks for reporting this, going to close this issue in favor of #481, you can subscribe to that issue to get notified once we added those missing types.

[2020-10-09 14:02] #526 closed

[2020-10-09 14:04] mahboubii commented on #481
/cc @vicnicius @ath92

[2020-10-10 00:22] alexlopezit commented on #565
Thanks @mahboubii

I just found this prop we can use on the Channel component `maxNumberOfFiles`, which basically disables the the `ImageDropzone` and the `FileUploadButton`, which is what we are looking for, however would be good to get a visual indication or display a message somewhere so the user knows why it's been disabled.

I would suggest to perhaps changing this text https://github.com/Get

[2020-10-10 09:46] alexlopezit commented on #564
Thanks @mahboubii

It's very random
All our users are type `user` but so far has happened for 3 of our users
We are using `MessageTeam`

Code looks like:
[code]
And we have not set custom permissions

[2020-10-12 07:25] jaapbakker88 commented on #542
@alexlopezit this is the library only. Problem is(which we're going to solve in the future) that we're using JSdoc to typecheck our components. But this comes with some limitations. This issue should be solved when we completely move to Typescript.

[2020-10-12 07:49] jaapbakker88 commented on #565
@alexlopezit problem is that it disables when you reach the limit, but as long as you haven't reached the limit it allows you to add multiple files that will get you across that limit. We're looking into a solution for this.

Visual indication is something we will definitely add as well.

[2020-10-12 19:44] tbarbugli opened #569 "All links should include rel="noopener noreferrer""
Links are converted to HTML anchor tags.

For example doyensec.com is converted to <a target="_blank" href="http://doyensec.com">doyensec.com</a>. As no rel attribute is present, it is possible for the website opened in the new tab (i.e. doyensec.com) to redirect the opener tab (i.e. bevybevy.com) to an arbitrary location.

Reproduction Steps
1. Create an HTML file with the following content:
`<sc

[2020-10-13 06:17] #569 closed

[2020-10-16 09:13] #542 closed

[2020-10-19 13:37] mahboubii commented on #565
@alexlopezit fixed in [v3.1.5](https://github.com/GetStream/stream-chat-react/releases/tag/v3.1.5)

[2020-10-19 13:38] mahboubii commented on #563
closing this for housekeeping. In case you still have this issue, please let us know to reopen it.

[2020-10-19 13:38] #563 closed

[2020-10-19 13:39] mahboubii commented on #546
closing this for housekeeping. In case you still have this issue, please let us know to reopen it.

[2020-10-19 13:39] #546 closed

[2020-10-19 22:39] junminleeKS opened #586 "MessageOptions: displayActions conditional render not used when rendering messages from me"
**stream-chat-react v3.1.5**
**src/components/Message/MessageOptions**

When rendering my messages the `displayActions` boolean is not used so I cannot hide the message actions button.

The code found on line 62:
[code]

looks like it should be the same as the code found starting at line 107:
[code]

gz#6744

[2020-10-20 08:46] mahboubii commented on #564
@alexlopezit I was not able to reproduce this issue, also the logic seems to be ok. If a user is `owner` (of a channel) or `admin` or `moderator` or `channel_moderator`  will have access to delete or edit a message, but the fact that you mentioned the API rejects the request means this is not the case. Would be great if you could capture more data next time this happens, including the message data

[2020-10-20 10:10] #586 closed

[2020-10-20 15:07] mahboubii commented on #500
@plandem Thanks for reporting this. There are 2 scenarios where we show `LoadingErrorIndicator` if the network request fails:

1. Using the `Channel` component without passing down an uninitialized `channel` as a prop, which leads to `channel.watch` getting [called](https://github.com/GetStream/stream-chat-react/blob/23056b9b1f6b88e88cf2829ee5baae8668626af4/src/components/Channel/Channel.js#L217)

[2020-10-23 18:22] neliojrr opened #589 "Set a default value for MessageInput component"
Is it possible to define a default value for `MessageInputSmall` or `MessageInputLarge`. I'd like a user to open the chat and have the message box already filled in with a default message, then they would just hit send.
Is there a way to have that?

I couldn't find in the docs a way to do it other than using `ChatAutoComplete` component but then I'd lose out of the box features like attachments.

[2020-10-23 20:24] shodgetts commented on #589
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/6835'>Zendesk ticket #6835</a>:<br><br>Sorry, Unfortunately this is not currently possible out-of-the-box. To achieve this You'll need to either use ChatAutoComplete or customize the MessageInput component

[2020-10-28 03:30] alexlopezit opened #592 "Do not show message actions if there are no actions"
Is it possible to not display the message actions button and menu when there are no actions?

Using "stream-chat-react": "3.1.6"

We have a component called SilentMessage where we only want to allow reactions, so we tried to use the `getMessageActions` with an empty array which seems to work, but we can still see the empty dropdown and icon.

<img width="1202" alt="Screen Shot 2020-10-28 at 1 20 2

[2020-10-28 05:24] alexlopezit commented on #565
Hi @jaapbakker88 and @mahboubii , I just checked this on v3.1.5 and though it was not working until I manually added the prop `maxNumberOfFiles` to the channel, perhaps you want to make set the default value if not present?

[2020-10-28 07:13] osdiab commented on #149
also this currently relies on a transitive dependency, version 0.2.0 of your library `react-file-icon`, which pinned the react version and therefore makes my bundle end up with two copies of react.  echoing the others, this is pretty egregious. will make some PRs to rectify the specific issue i noticed.

[2020-10-28 10:06] tbarbugli commented on #592
makes sense to not show the action button when there are no actions

[2020-10-28 10:19] jaapbakker88 commented on #592
@alexlopezit Thanks for your report, right now you're passing one action, an empty string, which we don't know how to render. While we look into a way to do this more gracefully, this should do the trick:
[code]

[2020-10-28 11:18] mahboubii commented on #565
@alexlopezit unfortunately we weren't able to reproduce the issue. are you using the add file button or the drag&drop option?

[2020-10-28 13:32] ath92 commented on #565
I did some more digging and found that there's a bug in `react-dropzone` that could be related to this (https://github.com/react-dropzone/react-dropzone/issues/1025 Issue with PR to fix it).

@alexlopezit The only way I was able to reproduce the problem you described is by first dragging less than the maximum number of files into the dropzone, and then dragging another set of files into it so that

[2020-10-28 20:48] alexlopezit commented on #592
Thanks @jaapbakker88, have missed such a small detail, with no empty string works perfect.

[2020-10-29 02:43] alexlopezit commented on #565
Hi @ath92 and @mahboubii ,
Yes dragging is one way to replicate the issue, and the other way is enabling `multipleUploads`, then clicking the add button and selecting 9 files, repeat the process and now you got 18 files ready to send, and the "add button" is not disabled in this case

[2020-10-29 04:27] alexlopezit opened #595 "Preventing file upload for files over 20mb still renders an empty thumbnail preview"
We are currently trying to prevent the user from selecting images bigger than 20mb as it looks like is the limit on the API.

I tried to use the `doImageUploadRequest` where I can check the size of the image, the idea is to notify the user when the file is bigger than 20mb and then not upload that image, here is the code I am using.

[code]

The problem is that even when I try to not upload that l

[2020-10-29 12:34] #592 closed

[2020-10-29 12:35] jaapbakker88 commented on #595
@alexlopezit we've just released version `3.1.7` which will remove the preview if the `doImageUploadRequest` returns a falsy value.

Let me know if that works for you

[2020-10-29 12:35] #595 closed

[2020-10-29 12:36] jaapbakker88 commented on #565
@alexlopezit we've released a fix for this issue in version `3.1.7`, please let us know if that solves it for you!

[2020-10-29 12:36] #565 closed

[2020-10-29 19:32] alexlopezit commented on #595
Thanks a lot @jaapbakker88 , that fixed this issue

[2020-10-30 04:25] alexlopezit commented on #565
Awesome @jaapbakker88 , just tested it and worked perfect. Thanks

[2020-11-03 03:08] alexlopezit opened #598 "Attachments downloading with wrong filename and no extension"
For some reason all attachments we upload display fine but when we try to download by clicking on the file link, the file that gets downloaded has the name `[object Object]`.

Image showing the filename of files.
![image](https://user-images.githubusercontent.com/1654135/97946135-2d4a0f80-1dd5-11eb-960f-3ca672295f58.png)

I noticed that as soon as I select or drop a file the api request for any im

[2020-11-03 03:25] shodgetts commented on #598
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/7080'>Zendesk ticket #7080</a>:<br><br>Hi Alex

Thanks for reaching out to us.
Possibility of a bug as I see the file name in the previous version -

Versions that I use are as below -

"stream-chat": "^2.7.0",
"stream-chat-react": "^3.1.6"

    duration: "166.18ms",…}duration: "166.18ms"file: "https://stream-chat-us

[2020-11-04 07:53] HN00 opened #599 "Hi Team,"
Linked to Zendesk issue

gz#7109

[2020-11-04 07:57] HN00 opened #600 "How to customize user's Avatar ?"
I only set the user's Id (without Image, without the name). When I customize the Message component in order to show avatar, I must rewrite all components to do it. So, Do we have another case to do it ?

gz#7110

[2020-11-04 08:05] #599 closed

[2020-11-04 09:19] mahboubii commented on #600
Unfortunately, We don't support this at the moment. Could you share more detail about render details of Avatar in case there is no image and no name to fall back to? If it's a general case we can discuss adding support for it.

[2020-11-04 15:07] #481 closed

[2020-11-05 08:18] HN00 commented on #600
I would like to use another image from my database and put it into the MessageList component.

[2020-11-05 10:11] mahboubii commented on #600
If you don't need to change the UI behavior of the Avatar component, you might be able to achieve this by inserting the field directly into `message.user` object at Message or MessageList level. Could you share more detail about the specifics of your use case?

[2020-11-05 14:50] vicnicius commented on #481
Hello, @amardeepranu. We [just released v.3.2.2](https://github.com/GetStream/stream-chat-react/releases/tag/v3.2.2), which comes with type definitions for custom hooks.

[2020-11-05 22:56] ZNackasha opened #603 "scroll does not stick to bottom on message height change."
VirtualizedMessageList does not seem to stick to the bottom when the message height is changed. In our situation users can add emoji as reactions to messages. when this is done we simply display the emoji reaction at the bottom of the message. This causes the message height to increase. this causes the react-virtuoso to lose track of isAtBottom. this is because followOutput breaks when a item is r

[2020-11-05 23:03] shodgetts commented on #603
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/7172'>Zendesk ticket #7172</a>:<br><br>Thanks for the bug report. We're already aware of this one and are working on a fix. Thank you.

[2020-11-06 03:09] HN00 commented on #600
I’m using typescript. And I just read it

[2020-11-09 07:35] alexlopezit opened #605 "overrideSubmitHandler and optimistic UI update"
I am currently trying to use `overrideSubmitHandler` and noticed that the message gets populated after the `sendMessage` promise, is there a way to make it work so the optimistic update (message is populated in the `MessageList`) still happens as soon as the user sends the message without needing to wait for the request response?

Code I am testing for reference

[code]

gz#7205

[2020-11-09 08:22] mahboubii commented on #605
you can leverage the `sendMessage` which already has the optimistic update.

[code]